.ForgotPasspage {
    background-color: #58BAAB;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    place-content: center;
    width: 100%;
}

.ForgotPasscontainer {
    display: block;
    height: 70%;
    margin: 0 auto;
    width: 40%;
    border-radius: 20px;
    background: #FFFFFF;
    text-align: center;
}

.ForgotPassimpBx {
    border:1px solid #474A59;
    width: 70%;
    height: 20%;
    padding: 15px;
    outline: none;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ForgotPassbtn-box {
    display: block;
    margin-top: 40px;
}

.ForgotPasstoggle-btn1 {

    padding: 10px 30px;
    cursor: pointer;
    background: #FC6B57;
    border: solid #FC6B57;
    border-radius: 10px;
    outline: none;
    position: relative;
    margin-right: 60px;
    color: white;
    font-weight: bold;
    font-family: Courier, monospace;
}
.ForgotPasstoggle-btn2 {

    padding: 10px 30px;
    cursor: pointer;
    background: white;
    border: solid #FC6B57;
    border-radius: 10px;
    outline: none;
    position: relative;
    color: #FC6B57;
    font-weight: bold;
    font-family: Courier, monospace;
    }
#ForgotPassheader {
    margin-top: 50px;
}

#ForgotPasstxt1{
    font-size: 36px;
    color: #FC6B57;
    margin-bottom: 15px;
}

#ForgotPasstxt2 {
    font-size: 16px;
}