.Loginpage {
  background: #e2e2e5;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  place-content: center;
  width: 100%;
  
}
.Loginpage .container {
  display: flex;
  height: 80%;
  margin: 0 auto;
  width: 80%;
  
}

.Loginpage .container #cancelContainer {
  width: 100%;
  min-height: 30px;
}
.Loginpage .container #cancelContainer #cancelButton{
  margin-left: 90%;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 30px;
  background: transparent;
  border: none;
  color: #FFFFFF;
}
.Loginpage .container #cancelContainer #cancelButton #X{
  color: #FFFFFF;
  text-decoration: none;

}

.Loginpage .container .left {
  width: 50%;
  height: 100%;
  background-color: white;
  background-image:url("../../img/LoginImage.png");
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  border: solid #474A59;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  
}
.Loginpage .container .right {
  background: #58BAAB;
  color: #FFFFFF;
  width: 50%;
  height: 100%;
  border: solid #474A59;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  margin: auto;
  align-items: center;

}
.Loginpage .container .right .form {
  width: 60%;
  height: 70%;
  display: inline-block;
  position: relative;
  margin-top: 20px;
  align-items: center;
  color: #474A59;
}

.Loginpage .container .right .inp {
  display: block;
  background-color: white;
  color: #474A59;
  border:1px solid #474A59;
  padding: 10px 20px;
  outline: none;
  font-size: 16px;
  color: #474A59;
  letter-spacing: 1px;
  border-radius: 20px;
  margin: 10px;
}
.Loginpage .container .right .impBx {
  border: none;
  padding: 10px;
  outline: none;
}

.Loginpage .container .right .remember{
  padding: 20px;
  justify-content:space-between;
  font-size: 14px;
}

.Loginpage .container .right .btn-box {
  display: block;
  margin-top: 20px;
}

.Loginpage .container .right .btn-box  .toggle-btn1 {
  
  padding: 10px 30px;
  cursor: pointer;
  background: #FC6B57;
  border: solid #FC6B57;
  border-radius: 10px;
  outline: none;
  position: relative;
  margin-right: 60px;
  color: white;
  font-weight: bold;
  font-family: Courier, monospace;
}
.Loginpage .container .right .btn-box  .toggle-btn2 {
  
  padding: 10px 30px;
  cursor: pointer;
  background: white;
  border: solid #FC6B57;
  border-radius: 10px;
  outline: none;
  position: relative;
  color: #FC6B57;
  font-weight: bold;
  font-family: Courier, monospace;
}
.Loginpage .container .right #welcome {
  padding-top: 100px;
  font-size: 40px;
  color: white;
}


.Loginpage .container .right .remember #checkbox {
  padding-right: 20px;
}
