.Signuppage {
    background: #e2e2e5;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    place-content: center;
    width: 100%;
}

.Signuppage .Signupcontainer {
    display: flex;
    height: 80%;
    margin: 0 auto;
    width: 80%;

}

.Signuppage .Signupleft {
    width: 50%;
    height: 100%;
    background-color: white;
    background-image: url("../../img/LoginImage.png");
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    border: solid #474A59;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;


}

.Signuppage .Signupright {
    background: #58BAAB;
    color: #FFFFFF;
    width: 50%;
    height: 100%;
    border: solid #474A59;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    align-items: center;

}

.Signuppage .Signupright #cancelContainer #cancelButton{
    margin-left: 90%;
    margin-right: 5%;
    margin-top: 5%;
    font-size: 30px;
    background: transparent;
    border: none;
    color: #FFFFFF;
}
.Signuppage .Signupright #cancelContainer #cancelButton #X{
    color: #FFFFFF;
    text-decoration: none;
}
.Signuppage .Signupform {
    width: 65%;
    height: 70%;
    margin-top: 5%;
    align-items: center;
    color: #474A59;
    margin: auto;
}

.Signuppage #name {
    display: flex;
    width: 80%;
    margin: auto;
}

#nameinp{
    width: 47%;
}

.Signuppage .Signuptoggle-btn1 {

    padding: 2% 5%;
    cursor: pointer;
    background: white;
    border: solid #FC6B57;
    border-radius: 10px;
    outline: none;
    position: relative;
    color: #FC6B57;
    font-weight: bold;
    font-family: Courier, monospace;
    margin-top: 2%;
}

.Signuppage #Signupwelcome {
    font-size: 40px;
    color: white;
    margin: auto;

}

.Signuppage .Signupinp {
    background-color: white;
    border: 1px solid #474A59;
    padding: 3%;
    outline: none;
    font-size: 13px;
    color: #474A59;
    letter-spacing: 1px;
    border-radius: 10px;
    margin: 2% auto;
    width: 80%;
}

.Signuppage .Signupremember {
    padding: 3%;
    justify-content: space-between;
    font-size: 14px;
}

.Signuppage #Signupcheckbox {
    padding-right: 10%;
}

.label-group{
    margin: 1%;
}

.Signuppage #Typecheckbox{
    margin: 5%;
    font-size: 14px;
}