.App {
  display: flex;
  size: 20;
  text-align: left;
}

#Logo {
  size: 170px 470px;
}

#Header {
  display: flex;
}

#Searchbar #Input {
  border-radius: 1;
  border: 200px;
  border-color: black;
}

#SearchBar{
  position: absolute;
}

#SideBar li {  
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  display: block;
  color: #160E4D;
  text-decoration: none;
}

#SideBar {
  width: 470px;
  background-color: #f4f4f4;
}



/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
