.App {
  display: flex;
  size: 20;
  text-align: left;
  box-sizing: border-box;
}



#Header {
  display: flex;
}

#Searchbar #Input {
  border-radius: 1;
  border: 200px;
  border-color: black;
}

#SearchBar{
  position: absolute;
}

/*_____________SideBar_____________*/
#Logo {
  width: 325px;
  height: 115px;
}

#SubSideBar {
  list-style-position: inside;
  padding-left: 0px;
}
#SubSideBar li a:hover #dashboard {
  content: url("./img/dashboardHover.png")
}
#SubSideBar li a:hover #manageCourse {
  content: url("./img/manageCourseHover.png")
}
#SubSideBar li a:hover #annouce {
  content: url("./img/annouceHover.png")
}
#SubSideBar li a:hover #profile {
  content: url("./img/profileHover.png")
}
#SubSideBar li a:hover {
  background-color: #160E4D;
  color: #f4f4f4;
  border-radius: 20px;  
}

#SubSideBar li {
  width: 325px;
  font-size: 24px;
  line-height: 35px;
  display: box;
  list-style-type: none;  
}
#SubSideBar li a{
  height: 35px;
  vertical-align: center;
  display: inline-block;
  width: 305px;
  background-color: #f4f4f4;
  font-style: normal;
  font-weight: bold;
  color: #160E4D;
  text-decoration: none;
  padding-left: 20px;
}

#SideBar {
  width: 325px;
  height: 100vh;
  background-color: #f4f4f4;
}

#dashboard {
  height: 24px;
  width: 30px;
  padding-right: 30px;
}
#manageCourse {
  height: 29px;
  width: 29px;
  padding-right: 31px;
}
#annouce {
  height: 24px;
  width: 30px;
  padding-right: 30px;
}
#profile {
  display: inline-block;
  height: 26px;
  width: 30px;
  padding-right: 30px;
  text-align: center;
  margin-top: 3px;
  box-sizing: margin-box;
}

#footer {
  margin-top: 150px;
  margin-right: 100px;
  transform: scale(0.7, 0.7);
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
