#videoFrame {
    position:relative;
    margin-top: 100px;
    height: 450px;
    display: flex;
    background-color:#1D1D1D;
    z-index: 10;
    margin-left: 60px;
    padding-left: 50px;
    width: 1100px;

}

#cVideoView #mainPage {
    margin-left: 20px;
    display: block;
    width: 1150px;
    background-color: seashell;
}

#videoFrame.react-player {  
    margin-left: 60px;
    margin-right: auto;
    margin-top: 0px;
    
}

#CV #lowBody {
    margin-top: 20px;margin-left: 60px;
    width: 1100px;
    height: 350px;
    background-color: #1D1D1D;
    display: relative;
}

#cVideoView #rightSB {
    float: right;  
    margin-left: 20px;
    text-align: center;

}

#rightSB #sbheader, #rightSB #courseOverview{
    text-align: center;
}

#rightSB #courseOverview :hover{
    color:beige;
}

#cVideoView #rightSB .pro-sidebar-header{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom:10px;
}


#CV #lesson {
    display: flex;
}

#CV #lesson #lesson-information{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
}

#CV #lesson #play-button {
    display: inline-block;
    margin-right: 20px;
}

#CV #Header {
    z-index: 10000;
}

#CV .pro-sidebar {
    margin-top: 125px;
    margin-left: 1200px;
    position: fixed;
}
