#videoFrame {
    position:relative;
    margin-top: 100px;
    height: 450px;
    display: flex;
    background-color:#1D1D1D;
    z-index: 10;
    margin-left: 60px;
    padding-left: 90px;
    width: 1100px;

}

#cVideoView #mainPage {
    margin-left: 20px;
    display: block;
    width: 1150px;
    background-color: seashell;
}

#videoFrame.react-player {  
    margin-left: 60px;
    margin-right: auto;
    margin-top: 0px;
    
}

#CV #lowBody {
    margin-top: 20px;margin-left: 60px;
    width: 1100px;
    height: 350px;
    background-color: #1D1D1D;
    display: block;
    position: relative;
    color: #fafafa;

}

#lowBody #lowNavBar {
    display: flex;
    position: relative;
    width: 1100px;
    height: 50px;
    background-color: #263238;
    color: #fafafa;
    padding-left: 40px;
}

#lowBody #lowBodyBox {
    display: flex;
    width: 1100px;
    height: 300px;
    background-color: #fafafa;
    padding-left: 40px;
    color:#263238;

}

#lowBody #lowBodyBox h2{
    font-size: 26px;
    margin: 10px;
}

#lowBody #lowBodyBox p{
    font-size: 16px;
    margin: 5px;
    padding-right: 40px;
}


#cVideoView #rightSB {
    float: right;  
    margin-left: 20px;
    text-align: center;

}

#rightSB #sbheader, #rightSB #courseOverview{
    text-align: center;
}

#rightSB #courseOverview :hover{
    color:beige;
}

#cVideoView #rightSB .pro-sidebar-header{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom:10px;
}


#CV #lesson {
    display: flex;
}

#CV #lesson #lesson-information{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
}

#CV #lesson #play-button {
    display: inline-block;
    margin-right: 20px;
}

#CV #Header {
    z-index: 10000;
}

#CV .pro-sidebar {
    margin-top: 125px;
    margin-left: 1200px;
    position: fixed;
}

#backButton .button{
    z-index: 100;
    position: fixed;
    width: 90px;
    height: 60px;
    cursor: pointer;
    margin-top: 200px;
    margin-left: 30px;
    border-radius: 30px;
    border: none;
    background-color: #04EB93;
    cursor: pointer;

}

#backButton .button {
    transition-duration: 0.4s;
    background-color: #04EB93;
    color: #263238;
  }
  
#backButton .button:hover { /* Green */
    color: white;
}

#lowBody #lowNavBar #navItem h3{
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
}

#navItem #nav-link {
    text-decoration: none;
    color: #fafafa;
}

#navItem :hover {
    color: aqua;
    border-bottom:5px solid blanchedalmond;

}