#cVideoView {
    margin-top: 125px;
    width: 1500px;
    display: flex;
}



#videoFrame {
    position:relative;
    margin-top: 125px;
    height: 450px;
    display: flex;
    background-color: beige;
    z-index: 10;
    margin-left: 75px;
    width: 1000px;
}

#cVideoView #mainPage {
    margin-left: 20px;
    display: block;
    width: 1150px;
    background-color: seashell;
}

#videoFrame.react-player {  
    margin-left: 60px;
    margin-right: auto;
    margin-top: 125px;
    
}

#cVideoView #lowBody {
    margin-top: 460px;
    width: 1150px;
    height: 350px;
    background-color: royalblue;
    display: block;
}

#cVideoView #rightSB {
    float: right;  
    margin-left: 20px;
    text-align: center;

}

#cVideoView #rightSB #sbheader{
    text-align: center;
}

#cVideoView #rightSB .pro-sidebar-header{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom:10px;
}


#cVideoView #lesson {
    display: flex;
}

#cVideoView #lesson #lesson-information{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
}

#cVideoView #lesson #play-button {
    display: inline-block;
    margin-right: 20px;
}

#CV #Header {
    z-index: 10000;
}

#CV .pro-sidebar {
    position: fixed;
}

#CV .ytp-player-content.ytp-iv-player-content {
    margin-top: 125px;
}