#mainBody {
    padding-left: 10px;
    margin-left: 350px;
    margin-top: 130px;
    color: #fafafa;
    display: block;

}

#courseBoard {
    border: 1px solid #bbbbbb;
    border-width: 2;
    padding: 10px;
    margin-top: 10px;
    width: 420px;
    margin-right: 10px;
    border-radius: 20px;
    box-shadow: 0px 30px 20px -10px rgba(0, 0, 0, 0.1);
}

#courseBoard h1 {
    display: flex;
    width: 300px;
    margin-left: 15px;
    background-color: #fafafa;
}

#courseBoard #boardHeader {
    display: flex;
    margin-left: px;
    color: lightslategray;
    height: 60px;
    border-bottom: 2px solid #bbbbbb;
}

#courseBoard #boardHeader button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 11px;
    padding-right: 10px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 75px;    
    border-radius: 20px;
    border: 1px solid #bbbbbb;
    background-color: #FAFAFA;
    font-weight: 600;
    text-align: center;
}

#courseBoard #boardHeader button :hover {
    background-color: #bbbbbb;
    border: 1px solid #bbbbbb;
}

#courseItem {
    padding: auto;
    display: flex;
    height: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 395px;
    list-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#courseItem li {
    list-style: none;
}

#courseItem img {
    width: 100px;
    height: 100px;
    display: flex;
    margin: 10px;
    border-radius: 20px;    
}
#courseItem #information h3 {
    display: block;
    width: 180px;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    height: 30px;   

}
/* #courseItem #viewButton {
    margin-top: 65px;
    display: block;
    height: 30px;
    width: 60px;
    border-radius: 30px;
    background-color:rgb(181, 91, 91);
} */

#courseItem #viewButton {
    margin-top: 65px;
    display: block;
    height: 30px;
    width: 60px;
    border-radius: 30px;
    background-color: #FC6858;
    border: 1px solid #FC6858;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


#courseItem #information {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 0px;
    border-radius: 0px;
    border: none;
}

#mainBody #lowerBody {
    display: flex;
}

#mainBody #upperBody {
    display: flex;
    background-color: #04EB93;
    width: 1150px;
    border-radius: 20px;
    height: 200px;
}

#mainBody #small-titles {
    display: flex;
    margin-left: 200px;
}

#mainBody #small-titles-child {
    display: inline-block;
    padding: 30px;
}

#mainBody #upperBody #big-title-img {
    display: inline-block;
    width: 240px;
    margin: 30px;
    margin-left: 30px;
}

#mainBody #upperBody #big-title-img img {
    display: inline-block;
    height: 150px;
}

#upperBody #big-titles {
    display: inline-block;
    padding: 10px;
    margin-left: 200px;
    width: 600px;
}

#upperBody #small-titles img{
    display: flex;
    width: 60px;
    height: 60px;
    margin: auto;
    margin-right: 15px;
}

#upperBody #small-titles-child{
    display: flex;

}

#courseBoard #scrollBar {
    width: 420px;
    height: 500px;
}