#upperBody {
    color: blue;
    border: blueviolet;
}


#mainBody {
    border: black;
    padding-left: 10px;
    margin-left: 350px;
    margin-top: 130px;
    color:coral;
    display: block;

}

#mainBody p {
    border: blueviolet;
    background-color: cadetblue;
}

#courseBoard {
    border: 1px solid black;
    border-width: 2;
    padding: 10px;
    margin-top: 10px;
    width: 400px;
    margin-left: 10px;
}

#courseBoard h1 {
    display: flex;
    width: 300px;
    
}

#boardHeader {
    display: flex;
    margin: 10px
}

#courseBoard button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    margin-top: 10px;
    width: 75px;    
    border-radius: 20px;
    background-color: yellowgreen;
}

#courseItem {
    border: 1px solid black;
    padding: auto;
    display: flex;
    height: 100px;
    
}

#courseItem img {
    width: auto;
    display: flex;
    margin: 10px;
}

#courseItem h3 {
    margin: 10px;
    margin-left: 20px;
    display: block;  
}

#lowerBody {
    display: flex;
}

#upperBody {
    display: block;
    
}