#homePageUI {
    display: flex;
    color: #160E4D;
}

#HeaderGuest {
    background-color: #f4f4f4;
    position: fixed;
    align-items: center;
    z-index: 999;
    height: 120px;
    display: flex;
    width: 100%;
    margin-top: 0px;
}
#Logo {
    background-color: #f4f4f4;
    width: 270px;
    height: 120px;
    cursor: pointer;
    position: relative;
    margin-top: 0px;
}

/* SEARCH BAR */
#SearchBar {
    margin-top: 20px;
    padding-left: 40px;
}
#Input {
    size: 32;
    width: 425px;
    height: 40px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    border-color: black;
    padding-left: 15px;
}
#searchIcon {
    position: absolute;
    margin-top: 8px;
    margin-left: -40px;
    cursor: pointer;
}