.Policypage {
    background-color: #58BAAB;
    flex-direction: column;
    height: 100vh;
    place-content: center;
    width: 100vw;
}

.Policypage .Policycontainer {
    height: 80vh;
    margin: 0 auto;
    width: 60vw;
    border-radius: 20px;
    background: #FFFFFF;
    text-align: center;
    margin-top: 40px;
}

.Policypage .Policycontainer .PolicyPrivacy{
    width: 80%;
    height: 80%;
    overflow: scroll;
    overflow-x: hidden;
    text-align: left;
    padding: 5%;
    margin: auto;
    font-size: 12px;
}
.Policypage .Policycontainer .Policytoggle-btn1 {

    padding: 10px 50px;
    cursor: pointer;
    background: #FC6B57;
    border: solid #FC6B57;
    border-radius: 10px;
    outline: none;
    color: white;
    font-weight: bold;
    font-family: Courier, monospace;
    margin-top: 30px;
}

.Policypage .Policycontainer #Policytxt1{
    font-size: 36px;
    color: #FC6B57;
    margin-bottom: 20px;
    
}

