.page {
    background-color: #58BAAB;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    place-content: center;
    width: 100%;
}

.container {
    display: block;
    height: 90%;
    margin: 0 auto;
    width: 80%;
    border-radius: 20px;
    background: #FFFFFF;
    text-align: center;
}

.btn-box {
    display: block;
    margin-top: 40px;
}

.toggle-btn1 {

    padding: 10px 30px;
    cursor: pointer;
    background: #FC6B57;
    border: solid #FC6B57;
    border-radius: 10px;
    outline: none;
    position: relative;
    margin-right: 60px;
    color: white;
    font-weight: bold;
    font-family: Courier, monospace;
}
#header {
    margin-top: 50px;
}

#txt1{
    font-size: 36px;
    color: #FC6B57;
    margin-bottom: 10px;
}
.Privacy{
    width: 80%;
    height: 70%;
    overflow: scroll;
    overflow-x: hidden;
    text-align: left;
    padding: 5%;
    margin: auto;
}