.Policypage {
    background-color: #58BAAB;
    flex-direction: column;
    height: 100%;
    place-content: center;
    width: 100%;
}

.Policypage .Policycontainer {
    display: block;
    height: 60%;
    margin: 0 auto;
    width: 60%;
    border-radius: 20px;
    background: #FFFFFF;
    text-align: center;
}



.Policypage .Policycontainer .Policybtn-box {
    display: block;
    margin-top: 40px;
}

.Policypage .PrivacyPrivacyContainer {

    width: 100%;
    height: 100%;
}
.Policypage .Policycontainer .PolicyPrivacy{
    width: 80%;
    height: 70%;
    overflow: scroll;
    overflow-x: hidden;
    text-align: left;
    padding: 5%;
    margin: auto;
    font-size: 12px;
}
.Policypage .Policycontainer .Policytoggle-btn1 {

    padding: 10px 30px;
    cursor: pointer;
    background: #FC6B57;
    border: solid #FC6B57;
    border-radius: 10px;
    outline: none;
    position: relative;
    margin-right: 60px;
    color: white;
    font-weight: bold;
    font-family: Courier, monospace;
}
.Policypage .Policycontainer #Policyheader {
    margin-top: 50px;
}

.Policypage .Policycontainer #Policytxt1{
    font-size: 36px;
    color: #FC6B57;
    margin-bottom: 10px;
}
