
#PreLoginr {
    width: 100vw;
    height: 100vh;
    background-color: #58BAAB;

}

#PreLoginr #PreLogincontainer {
    margin: auto;
    align-items: center;
    width: 90vw;
    height: 90vh;
    background-color: white;
    border-radius: 15px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-between;
    
    
}
#PreLoginr #PreLogincontainer #PreLoginuser-container {
    width: 320px;
    height: 450px;
    margin: auto;
    vertical-align: middle;
    align-items: center;
}

#PreLoginr #PreLogincontainer #PreLoginAdmin {
    width: 320px;
    height: 320px;
    background-image: url("../../../img/Admin.png");
    background-size: 100%;;
    background-repeat: no-repeat;
    
}

#PreLoginr #PreLogincontainer #PreLoginInstructor {
    width: 320px;
    height: 320px;
    background-image: url("../../../img/Instructor.png");
    background-size: 100%;;
    background-repeat: no-repeat;
}

#PreLoginr #PreLogincontainer #PreLoginLearner {
    width: 320px;
    height: 320px;
    background-image: url("../../../img/learner.png");
    background-size: contain;;
    background-repeat: no-repeat;
}
#PreLoginr #PreLogincontainer .PreLoginFrame {
    width:  100%;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;

}

#PreLoginr #PreLogincontainer .PreLogintext {
    font-size: 24px;
    font-weight: bold;
    font-family: monospace;
    margin: 5px;
}

#PreLoginr #PreLogincontainer .PreloginLink {
    text-decoration: none;
    color: black;
}