.Signuppage {
    background: #e2e2e5;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    place-content: center;
    width: 100%;
}

.Signuppage .Signupcontainer {
    display: flex;
    height: 80%;
    margin: 0 auto;
    width: 80%;

}

.Signuppage .Signupleft {
    width: 50%;
    height: 100%;
    background-color: white;
    background-image: url("../../../img/LoginImage.png");
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    border: solid #474A59;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;


}

.Signuppage .Signupright {
    background: #58BAAB;
    color: #FFFFFF;
    width: 50%;
    height: 100%;
    border: solid #474A59;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    margin: auto;
    align-items: center;

}

.Signuppage .Signupform {
    width: 65%;
    height: 70%;
    display: inline-block;
    position: relative;
    margin-top: 20px;
    align-items: center;
    color: #474A59;
}

.Signuppage .Signupbtn-box {
    display: block;
    margin-top: 20px;
}

.Signuppage .Signuptoggle-btn1 {

    padding: 10px 30px;
    cursor: pointer;
    background: white;
    border: solid #FC6B57;
    border-radius: 10px;
    outline: none;
    position: relative;
    color: #FC6B57;
    font-weight: bold;
    font-family: Courier, monospace;

}

.Signuppage #Signupwelcome {
    padding-top: 150px;
    font-size: 40px;
    color: white;

}

.Signuppage .Signupinp {
    display: block;
    background-color: white;
    color: #474A59;
    border: 1px solid #474A59;
    padding: 10px 20px;
    outline: none;
    font-size: 13px;
    color: #474A59;
    letter-spacing: 1px;
    border-radius: 20px;
    margin: 10px;
}

.Signuppage .Signupremember {
    padding: 20px;
    justify-content: space-between;
    font-size: 14px;
}

.Signuppage #Signupcheckbox {
    padding-right: 80px;
}

.Signuppage .SignupimpBx {
    border: none;
    padding: 10px;
    outline: none;
    width: 60%;
}