#admincourse {
    margin-top: 130px;
    margin-left: 290px;
    position: relative;
}

#admincourse #coursesCFY {    
    z-index: 0;
    position: relative;
    
}

#admincourse #courseCFY {
    z-index: 0;
    position: relative;
}

#admincourse #DropdownBar {
    
}
#admincourse #courseinad {
    margin-top: 10px;
}

#admincourse #coursesCFY {
    width: 1200px;
}

#admincourse #coursesCFY #listCoursesCFY {
    position: relative;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .taskIcon {
    width: 5px;
    height: auto;
    position: relative;
    left: 1130px;
    top: 120px;
    cursor: pointer;
    z-index: 10;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .nav-menu.active {
    border: 1px solid black;
    width: 180px;
    height: 100px;
    position: absolute; 
    display: flex;
    left: 965px;
    top: 80px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .nav-menu.active .nav-item{
    font-size: 20px;
    width: 120px;
    margin-left: 6px;
    padding-top: 8px;
    padding-left: 5px;
    cursor: pointer;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .nav-menu.active .nav-item:hover {
    box-shadow: 1px 1px 3px black;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open {
    background-color: white;
    display: block;
    position: absolute;
    z-index: 20;
    width: 1010px;
    top: 50px;
    left: 65px;
    height: 420px;
    border: 1px solid black;
    box-shadow: 1px 1px 15px black;
    border-radius: 5px;
    -webkit-border-radius: 10px;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open #below {
    font-size: 20px;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open #below .x{
    border: 1px solid black;
    width: 800px;
    margin: 10px 0px 10px 50px;
}


#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open #below #green {
    background-color: #58BAAB;
    padding: 3px 0px 3px 12px;    
    display: flex;
    position: relative;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open #below #green #plus-icon{
    cursor: pointer;
    position: absolute;
    right: 10px;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open #below #green #plus-icon:hover {
    box-shadow: 1px 1px 3px black;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open #below #name{
    display: flex;
    padding-left: 12px;
    margin-top: 5px;
    margin-bottom: 8px;
}
#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open #below #name-of {
    padding-left: 20px;
    cursor: pointer;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open #below #name-of:hover {
    text-decoration-line: underline;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open #below #name #right-icon{
    cursor: pointer;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open #below #name #right-icon:hover {
    box-shadow: 1px 1px 3px black;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open img{
    
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open #close {
    position: absolute;
    z-index: 1;
    font-weight: bold;
    font-size: 20px;
    right: 15px;
    top: 5px;
    cursor: pointer;
}


/*_______________________________________________________*/

.detail-box {
    display: none;
}

.detail-box.open {
    position: relative;
    display: block;
}

.delete-box {
    display: none;
}

.delete-box.open {
    display: block;
}

#add-taskIcon .task-button {
    position: relative;
    z-index: 1;
}