#admincourse {
    margin-top: 120px;
    margin-left: 290px;
    position: relative;
}

#admincourse #DropdownBar {
    
}

#admincourse #coursesCFY #listCoursesCFY {
    position: relative;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .taskIcon {
    width: 5px;
    height: auto;
    position: relative;
    left: 1080px;
    top: 120px;
    cursor: pointer;
    z-index: 10;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .taskIcon:hover {
    box-shadow: 1px 1px 5px black;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .nav-menu.active {
    border: 1px solid black;
    width: 180px;
    height: 100px;
    position: absolute; 
    display: flex;
    left: 915px;
    top: 80px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .nav-menu.active .nav-item{
    font-size: 20px;
    width: 120px;
    margin-left: 6px;
    padding-top: 8px;
    padding-left: 5px;
    cursor: pointer;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .nav-menu.active .nav-item:hover {
    box-shadow: 1px 1px 3px black;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open {
    background-color: white;
    display: block;
    position: absolute;
    z-index: 20;
    width: 1060px;
    top: 0px;
    left: 65px;
    height: 450px;
    border: 1px solid black;
    box-shadow: 1px 1px 15px black;
    border-radius: 5px;
    -webkit-border-radius: 10px;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open #below {
    font-size: 20px;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open #below .x{
    border: 1px solid black;
    width: 800px;
    margin: 10px 0px 10px 50px;
}


#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open #below #green {
    background-color: #58BAAB;
    padding: 3px 0px 3px 12px;    
    display: flex;
    position: relative;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open #below #green #plus-icon{
    cursor: pointer;
    position: absolute;
    right: 10px;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open #below #green #plus-icon:hover {
    box-shadow: 1px 1px 3px black;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open #below #name{
    display: flex;
    padding-left: 12px;
    margin-top: 5px;
    margin-bottom: 8px;
}
#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open #below #name-of {
    padding-left: 20px;
    cursor: pointer;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open #below #name-of:hover {
    text-decoration-line: underline;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open #below #name #right-icon{
    cursor: pointer;
}

#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open #below #name #right-icon:hover {
    box-shadow: 1px 1px 3px black;
}



#admincourse #coursesCFY #listCoursesCFY #add-taskIcon .detail-box.open #close {
    position: absolute;
    z-index: 1;
    font-weight: bold;
    font-size: 20px;
    right: 15px;
    top: 5px;
    cursor: pointer;
}


/*_______________________________________________________*/

.detail-box {
    display: none;
}

.detail-box.open {
    position: relative;
    display: block;
}

.delete-box {
    display: none;
}

.delete-box.open {
    display: block;
}

#add-taskIcon .task-button {
    position: relative;
    z-index: 1;
}

#admincourse #coursesCFY {
    background-color: rgba(88, 186, 171, 0.5);
    display: inline-block;
    height: 490px;
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    border-style: solid;
    border-color: #c4c4c4;
    border-width: 2px;
}
#admincourse #titleCFY {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 2px;
}
#admincourse #listCoursesCFY {
    background-color:white;
    width: 1180px;
    margin-left: 15px;
    margin-right: 15px;
    height: 440px;
}
/* ------RateContent-------- */
#admincourse #rateContent {
    display: flex;
    margin-top: 5px;
}
#admincourse #rateContent #p1 {
    width: 90px;
    height: 30px;
    font-size: 14px;
    text-align: center;
}


#admincourse #rateContent #p1 p {
    margin-top: 5px;
}
#admincourse #rateContent #p2 {
    color: rgba(255,217,2,0.7);
    height: 30px;
    width: 30px;
    font-size: 14px;
    text-align: center;
    margin-left: 10px;
}
#admincourse #rateContent #p2 {
    color: rgba(255,217,2,0.7);
    height: 30px;
    width: 30px;
    font-size: 14px;
    text-align: center;
    margin-left: 10px;
}
#admincourse #rateContent #p3 {
    margin-left: 10px;
}
#admincourse #rateContent #p4 {
    color: rgba(196,196,196,1);
    height: 30px;
    width: 60px;
    font-size: 14px;
    text-align: center;
    margin-left: 10px;
}
#admincourse #rateContent #p4 p {
    margin-top: 5px;
}
/* -----------CourseContent---------- */
#admincourse #courseContent #Name{
    font-weight: bold;
    font-size: 14px;
}
#admincourse #courseContent #Desc{
    font-size: 14px;
}
#admincourse #courseContent #Author{
    color: rgba(196,196,196,1);
    font-size: 14px;
}
/* ----------courseCFY--------- */
#admincourse #courseCFY {
    display: flex;
    padding-top: 10px;
    width: 1030px;
    padding-left: 10px;
    padding-bottom: 10px;
    position: relative;
}
#admincourse #courseContent {
    padding-left: 10px;
}
