/*_____Component Number of User_____*/
#number {                                   /*This is the biggest, covering all the elements below*/
    color: #160E4D;
    margin-left: 390px;
    margin-top: 150px;
    display: flex;
}

#title{
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    margin-left: 10px;
    width: 302px;
    height: 52px;
    border-bottom: 2px solid #160E4D;
}

/*____Number____*/
#num{
    font-size: 23px;
    margin-left: 15px;
}

/*______Icon_____*/
#numicon {
    position: absolute;
    top: 10px;
    right: 10px;
}


#See_all {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #160E4D;
    font-size: 25px;
    text-decoration: underline;
    text-decoration: i;
}

#numofinstruc{
    background-color: #CDBBFF;
    width: 321px;
    height: 160px;
    position: relative;
    box-shadow: 1px 2px black;
    border-radius: 7px;
    -webkit-border-radius: 7px;
}

#numoflearner{
    background-color: #A2D2FF;
    margin-left: 40px;
    width: 321px;
    height: 160px;
    position: relative;
    box-shadow: 1px 2px black;
    border-radius: 7px;
    -webkit-border-radius: 7px;
}

#numofcourse{
    background-color: #68E2B4;
    margin-left: 40px;
    width: 321px;
    height: 160px;
    position: relative;
    box-shadow: 1px 2px black;
    border-radius: 7px;
    -webkit-border-radius: 7px;
}

/*_________Lower Body_________*/
#admindashboard #lowerBody {
    display: flex;
    margin-left: 450px;
}

#admindashboard #lowerBody #courseBoard {
    margin: 15px 50px 0px 0px;
}