#SearchList {
    padding-left: 20px;
}

#listAnnoun {
    display: flex;
}
#wholeblock {
    position: relative;
}

.Announcpn {
    background-color: white;
    border: 1px solid black;
    margin: 5px;
    width: 270px;
    height: auto;
    text-align: left;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.Announcpn  p {
    color: black;
    padding: 2px 0px 2px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Announcpn .receiver {
    font-size: 16px;
    font-weight: bold;
    width: 190px;
}
.Announcpn .subject {
    font-size: 14px;
    font-weight: bold;
    width: 250px;
}
.Announcpn .content {
    font-size: 12px;
    width: 250px;
}
.Announcpn .time {
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 2px;
}

.choose {
    display: none;
}

.choose.active {
    display: flex;
}