#adminannounce {
    position: relative;
}

#wholeblock {
    display: flex;
    position: absolute;
    top: 130px;
    left: 280px;
    width: 1220px;
    height: 560px;
    background-color: #58BAAB;
    border-radius: 15px;
    -webkit-border-radius: 15px;
}

/*_____________SearchBar______________*/
#SearchList {
    margin-top: 4%;
    margin-left: 2%;
    padding-left: 20px;
    width: 300px;
}
#searchAnnoun {
    position: relative;
}

#inputAnnoun {
    size: 32;
    width: 260px;
    height: 35px;
    padding-left: 15px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    border-color: 1px solid black;
}

#searchAnnounIcon {
    position: absolute;
    top: 6px;
    right: 25px;
    cursor: pointer;
}
/*_________________________________*/

/*___________Left Block___________*/

#listAnnoun {
    width: 320px;
    text-align: center;
    background-color: white;
    height: 530px;
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 1%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

#listAnnoun #sublistAnnoun {
    margin-top: 2%;
    text-align: center;
}

.Announcpn {
    background-color: white;
    border: 0px;
    width: 280px;
    height: auto;
    text-align: left;
    margin: 15px 15px 5px 15px;
    padding-left: 12px;
    border-radius: 15px;
    -webkit-border-radius: 15px; 
    line-height: 25px;
    position: relative;
    cursor: pointer;
}

.Announcpn:hover {
    width: 290px;
    box-shadow: 3px 3px 5px grey;
}

.Announcpn  p {
    color: black;
    padding: 2px 0px 2px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Announcpn .receiver {
    font-size: 18px;
    width: 190px;
}
.Announcpn .subject {
    font-size: 18px;
    width: 250px;
}
.Announcpn .content {
    font-size: 14px;
    font-style: italic;
    padding-left: 20px;
    width: 250px;
}
.Announcpn .time {
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 2px;
}
/*_______________________*/

/*__________Right Block___________*/
#content-block {
    position: relative;
    width: 840px;
    margin-left: 30px;
    margin-top: 30px;
}

#content-block #sender-receiver {
    font-size: 18px;
    font-weight: bold;
    color: white;
    line-height: 30px;
}

#content-block #inside-content-block {
    background-color: white;
    height: 430px;
    margin: 20px 20px 20px 0px;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
}

#content-block #inside-content-block #subject-inside {
    font-size: 30px;
    color: #160E4D;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #898989;
}

#content-block #inside-content-block #content-inside {
    font-size: 18px;
    text-indent: 30px;
    line-height: 32px;
    padding: 15px;
}

#content-block #inside-content-block #time-inside {
    position: absolute;
    font-size: 14px;
    top: 30px;
    right: 15px
}

.choose {
    display: none;
}

.choose.active {
    display: block;
}