#lnAnnouncements p {
    margin-top: 500px;
    margin-left: 500px;
}
#lnAnnouncements #wholeblock {
    position: relative;
    display: flex;
    margin-top: 140px;
    margin-left: 325px;
    width: 1190px;
    background-color: #58BAAB;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    height: 560px;
}

/*_____________SearchBar______________*/
#lnAnnouncements #SearchList {
    margin-top: 4%;
    margin-left: 0px;
    padding-left: 0px;
    width: 320px;
}
#lnAnnouncements #searchAnnoun {
    position: relative;
}

#lnAnnouncements #inputAnnoun {
    size: 32;
    width: 260px;
    height: 35px;
    padding-left: 15px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    border-color: black;
}

#lnAnnouncements #searchAnnounIcon {
    position: absolute;
    top: 6px;
    right: 40px;
    cursor: pointer;
}
/*_________________________________*/

/*___________Left Block___________*/

#lnAnnouncements #listAnnoun {
    width: 320px;
    text-align: center;
    background-color: white;
    margin-top: 10px;
    margin-left: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 520px;
}

#lnAnnouncements #listAnnoun #sublistAnnoun {
    margin-top: 2%;
    text-align: center;
    height: 460px;
}

#lnAnnouncements .Announcpn {
    background-color: white;
    border: 0px;
    width: 280px;
    height: 100px;
    text-align: left;
    margin: 8px;
    padding-left: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px; 
    line-height: 25px;
    position: relative;
    cursor: pointer;
    border: 1px solid #000;
}

#lnAnnouncements .Announcpn:hover {
    width: 290px;
    box-shadow: 3px 3px 5px grey;
}

#lnAnnouncements .Announcpn  p {
    color: black;
    padding: 2px 0px 2px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#lnAnnouncements .Announcpn .receiver {
    font-size: 18px;
    width: 190px;
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
}
#lnAnnouncements .Announcpn .subject {
    font-size: 18px;
    width: 250px;
    margin-left: 0px;
    margin-top: 0px;
}
#lnAnnouncements .Announcpn .content {
    font-size: 14px;
    font-style: italic;
    padding-left: 20px;
    width: 250px;
    margin-left: 0px;
    margin-top: 0px;
}
#lnAnnouncements .Announcpn .time {
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 2px;
    margin-left: 0px;
    margin-top: 0px;
}
/*_______________________*/

/*__________Right Block___________*/
#lnAnnouncements #content-block {
    width: 840px;
    margin-left: 30px;
    margin-top: 20px;
}

#lnAnnouncements #content-block #sender-receiver {
    font-size: 18px;
    font-weight: bold;
    color: white;
    line-height: 30px;
}
#lnAnnouncements #content-block #sender-receiver p {
    margin-top: 0px;
    margin-left: 0px;
}

#lnAnnouncements #content-block #inside-content-block {
    background-image: url(../img/bgAnnoun.png);
    height: 440px;
    margin: 20px 20px 20px 0px;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
}
#lnAnnouncements #content-block #inside-content-block p {
    margin-top: 0px;
    margin-left: 0px;
}

#lnAnnouncements #content-block #inside-content-block #subject-inside {
    font-size: 30px;
    color: #160E4D;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #898989;
}

#lnAnnouncements #content-block #inside-content-block #content-inside {
    font-size: 18px;
    text-indent: 30px;
    line-height: 32px;
    padding: 15px;
}

#lnAnnouncements #content-block #inside-content-block #time-inside {
    position: absolute;
    top: 30px;
    right: 15px
}


#lnAnnouncements .choose {
    display: none;
}

#lnAnnouncements .choose.active {
    display: block;
}
/* Four Option */
#lnAnnouncements #moreOption {
    display: flex;
    width: 240px;
    position: absolute;
    left: 950px;
    top: 460px;
    z-index: 1;
}
#lnAnnouncements #moreOption #iconReadAnnoun, #iconFlagAnnoun, #iconClear, #iconNoReadAnnoun{
    cursor: pointer;
    margin-left: 20px;
    margin-top: 10px;
    height: 30px;
    width: 30px;
}
#lnAnnouncements #moreOption #iconReadAnnoun:hover {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border: 2px solid #000;
    margin-top: 5px;
    margin-left: 10px;
    padding-left: 2.5px;
    padding-top: 2.5px;
}

#lnAnnouncements #moreOption #iconClear:hover, #iconNoReadAnnoun:hover, #iconFlagAnnoun:hover{
    cursor: pointer;
    height: 40px;
    width: 40px;
    border: 2px solid #000;
    margin-top: 5px;
    margin-left: 10px;
    padding-left: 2.5px;
    padding-top: 2.5px;
}

