.title {
    font-size: 1.4em;
    font-weight: 300;
  }
  
  .bar-group .name-label {
    font-size: 8px;
    fill: #000;
  }
  
  .bar-group .value-label {
    text-anchor: end;
    fill: yellow;
    font-weight: 900;
    font-size: 0.7em;
  }
  
  .container .bar-group {
    transition: opacity 0.3s;
  }
  
  /* Fade bars when the chart is hovered */
  .container:hover .bar-group {
    opacity: 0.3;
  }
  
  /* But don't fade the hovered bar... */
  .container .bar-group:hover {
    opacity: 1;
  }
  
  .container .bar-group:hover .name-label {
    font-weight: bold;
    font-size: 10px;
  }
  
  .container .bar-group:hover .value-label {
    font-size: 10px;
  }