#lnDashboard #getStarted:hover {
    background-color: #160E4D;
    color: #f4f4f4;
}
#lnDashboard #titleFun {
    color: #f4f4f4;
    text-align: left;
    padding-left: 200px;
    font-weight: bold;
    font-size: 24px;
}
#lnDashboard #descript {
    color: #f4f4f4;
    text-align: left;
    padding-left: 200px;
    padding-right: 10px;
    font-size: 18px;
}
#lnDashboard #btn {
    padding-left: 100px;
}
#lnDashboard #getStarted {
    margin-top: 10px;
    width: 120px;
    height: 40px;
    font-size: 18px;
    border-color: black;
    border-width: 2px;
    cursor: pointer;
    background-color: #f4f4f4;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
#lnDashboard #bground {
    background-image: url("../img/about.png");
    background-position: right top;
    display: inline-block;
    text-align: center;
    margin-top: 120px;
    margin-left: 325px;
    width: 740px;
    height: 180px;
    background-size: cover;
    padding-top: 40px;
}
#lnDashboard #coursesCFY {
    background-color: rgba(88, 186, 171, 0.5);
    display: inline-block;
    margin-top: 10px;
    margin-left: 325px;
    width: 740px;
    height: 400px;
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    border-style: solid;
    border-color: #c4c4c4;
    border-width: 2px;
}
#lnDashboard #titleCFY {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 2px;
}
#lnDashboard #listCoursesCFY {
    background-color:white;
    width: 710x;
    margin-left: 15px;
    margin-right: 15px;
    height: 355px;
}
/* ------RateContent-------- */
#lnDashboard #rateContent {
    display: flex;
    margin-top: 5px;
}
#lnDashboard #rateContent #p1 {
    width: 90px;
    height: 30px;
    font-size: 14px;
    text-align: center;
}


#lnDashboard #rateContent #p1 p {
    margin-top: 5px;
}
#lnDashboard #rateContent #p2 {
    color: rgba(255,217,2,0.7);
    height: 30px;
    width: 30px;
    font-size: 14px;
    text-align: center;
    margin-left: 10px;
}
#lnDashboard #rateContent #p2 p {
    margin-top: 5px;
}
#lnDashboard #rateContent #p3 {
    margin-left: 10px;
}
#lnDashboard #rateContent #p4 {
    color: rgba(196,196,196,1);
    height: 30px;
    width: 60px;
    font-size: 14px;
    text-align: center;
    margin-left: 10px;
}
#lnDashboard #rateContent #p4 p {
    margin-top: 5px;
}
/* -----------CourseContent---------- */
#lnDashboard #courseContent #Name{
    font-weight: bold;
    font-size: 14px;
}
#lnDashboard #courseContent #Desc{
    font-size: 14px;
}
#lnDashboard #courseContent #Author{
    color: rgba(196,196,196,1);
    font-size: 14px;
}
/* ----------courseCFY--------- */
#lnDashboard #courseCFY {
    display: flex;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
    position: relative;
}
#lnDashboard #courseContent {
    padding-left: 10px;
}
#lnDashboard {
    display: flex;
}