.boxRegIns_show {
  background-color: white;
  box-shadow: 3px 3px 5px grey;
  left: -850px;
  top: -100px;
  position: relative;
  width: 800px;
  height: 500px;
}

.Formcolumns {
Width: 100%;
}
.Formcolumn {
    width:100%;
}
@media (min-width: 48em) {
    .Formcolumn {
    width: 50%;
    float:left;
    }
    .Formcolumns {
    content: "";
    display: table;
    clear: both;
    }
}
.boxRegIns_close {
  display: none;
}
/* Customize the label (the container) */
.Formcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  
  /* Hide the browser's default radio button */
  .Formcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
#FormSelection {
    padding: 20px;
    
}
  /* Create a custom radio button */
  .Formcheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .Formcontainer:hover input ~ .Formcheckmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .Formcontainer input:checked ~ .Formcheckmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .Formcheckmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .Formcontainer input:checked ~ .Formcheckmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .Formcontainer .Formcheckmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  .Formques, .FormquesBox {
      margin-top: 10px;
      font-size: 16px;
      font-weight: bold;
  }
   .Formupload {
    height: 150px;
    width: 380px;
      border-radius: 20px;
      border: 1px solid rgb(196, 189, 189);
      margin-top: 20px;
  }
  .Formupload p {
    padding-top: 5px;
    padding-left: 15px;
  }
  #FormPushCV{
    height: 100px;
    width: 340px;
      border-radius: 20px;
      border: 1px dashed rgb(196, 189, 189);
      margin-top: 10px;
      margin-left: 19px;
      background-image: url(../img/FormPushCV.png);
  }
  #FormPushCV p {
    padding-top: 60px;
  }

.Formcolumns  .Formupload2 {
    width: 60%;
    height: 100px;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 20px;
    padding: 20px;
}
.Formupload2Confirm {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
}
.Formupload2Confirm #checkBox{
    height: 20px;
    width: 20px;
}
 #confirmTxt {
    font-size: 14px;
    padding-left: 10px;
}
.Formupload2Container {
    display: block;
    text-align: center;

}
 .FormSignupbtn-box {
    display: flex;
    padding-left: 500px;
    padding-top: 20px;
}
 .FormSignupbtn-box #submitFormBtn {
    margin-left: 50px;
    height: 40px;
    width: 60px;
    background-color: #1D8676;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}
 .FormSignupbtn-box #exitFormBtn {
    height: 40px;
    width: 60px;
    background-color: #fff;
    color: #1D8676;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    border: 1px solid #1D8676;
    cursor: pointer;
}