#lnReadTutorial #readTutorialCpn {
    margin-left: 325px;
    margin-top: 140px;
    height: 565px;
    width: 1190px; 
    background-image: url("../img/bgReadTutorial.png");
}
#lnReadTutorial #titleRT p {
    font-size: 40px;
    padding-top: 60px;
    padding-left: 20px;
}
#lnReadTutorial #titleRT {
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
}
#lnReadTutorial #typeFilter {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 20px;
}
#lnReadTutorial .dd-wrapper .dd-header{
    display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;
    align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;
    position:relative;border:1px solid #dfdfdf;border-radius:3px;background-color:white;line-height:38px;cursor:default;cursor:pointer;
    color: #1E5C5F;
}
#lnReadTutorial .dd-wrapper .dd-header-title{
    font-weight:bold;
}
#lnReadTutorial #rowFilterRT {
    display: flex;
}
#lnReadTutorial #filterTutorial {
    padding-left: 20px;
    padding-top: 5px;
}
#lnReadTutorial #filterTutorial #DropdownBar .dd-wrapper {
    width: 500px;
    font-size: 14px;
}
#lnReadTutorial .dd-wrapper .dd-list .dd-scroll-list .dd-list-item:hover{
    background-color:#1E5C5F;
    color:white;
    font-size: 14px;
}
#lnReadTutorial #tableTutorial {
    background-color: #fff;
    height: 270px;
    width: 800px;
    margin-left: 20px;
    margin-top: 10px;
    border: 3px solid #c4c4c4;
}
#lnReadTutorial #stateTutorial {
    display: flex;
    padding-top: 10px;
    height: 30px;
    padding-left: 20px;
}
#lnReadTutorial #stateTutorial #takenTutorial {
    height: 30px;
    width: 60px;
    color: #123E40;
    font-size: 14px;
}
#lnReadTutorial #stateTutorial #newTutorial {
    height: 30px;
    width: 60px;
    color: #123E40;
    background-color: #fff;
    border-top: 3px solid #c4c4c4;
    border-left: 3px solid #c4c4c4;
    border-right: 3px solid #c4c4c4;
    font-size: 14px;
}
#lnReadTutorial #stateTutorial #newTutorial p {
    text-align: center;
}
#lnReadTutorial #stateTutorial #takenTutorial p {
    text-align: center;
    padding-top: 3px;
}
#lnReadTutorial #tableTutorial{
    width: 1130px;
}
#lnReadTutorial #tableTutorial .itemTutorial {
    display: flex;
    width: 1125px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid #c4c4c4;
    padding-top: 20px;
    font-size: 12px;
}
#lnReadTutorial #tableTutorial .itemTutorial  #btnViewTutorial{
    width: 100px;
    height: 40px;
    color: #FC6B57;
    border-radius: 15px;
    border: 1px solid #FC6B57;
    font-size: 14px;
    margin-top: -10px;
    background-color: #fff;
    cursor: pointer;
}
#lnReadTutorial #tableTutorial .itemTutorial  #btnViewTutorial:hover {
    color: #fff;
    background-color: #fc6b57;
}
#lnReadTutorial #tableTutorial .itemTutorial  #btnDownloadTutorial{
    width: 100px;
    height: 40px;
    color: #57BAAB;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #57BAAB;
    font-size: 14px;
    margin-top: -10px;
    cursor: pointer;
    margin-left: 60px;
}
#lnReadTutorial #tableTutorial .itemTutorial  #btnDownloadTutorial:hover {
    color: #fff;
    background-color: #57BAAB;
}

#lnReadTutorial #tableTutorial #nameColTutorial {
    font-weight: bold;
    display: flex;
    font-size: 14px;
    border-bottom: 4px solid #c4c4c4;
    padding-top: 5px;
}
#lnReadTutorial #tableTutorial #nameColTutorial #numberTutorial {
    height: 40px;
    width: 30px;
    margin-left: 20px;
    color: #103E2E;
}
#lnReadTutorial #tableTutorial #nameColTutorial #nameTutorial {
    height: 40px;
    width: 380px;
    color: #103E2E;
}
#lnReadTutorial #tableTutorial #nameColTutorial #courseOfTutorial {
    height: 40px;
    width: 380px;
    padding-left: 20px;
    color: #103E2E;
}
#lnReadTutorial #tableTutorial #nameColTutorial #stateViewTutorial{
    height: 40px;
    width: 160px;
    color: #103E2E;
}
#lnReadTutorial #tableTutorial #nameColTutorial #stateDownloadTutorial{
    height: 40px;
    width: 100px;
    color: #103E2E;
}
#lnReadTutorial #tableTutorial #scrollBar {
    height: 210px;
}
#lnReadTutorial #tableRT {
    padding-left: 10px;
}

#lnReadTutorial #tableTutorial .itemTutorial #numOfTutorial {
    width: 30px;
    height: 40px;
}
#lnReadTutorial #tableTutorial .itemTutorial #numOfTutorial p {
    width: 30px;
    height: 40px;
}
#lnReadTutorial #tableTutorial .itemTutorial  .courseTutorial{
    width: 380px;
    height: 40px;
    color: #fff;
}
#lnReadTutorial #tableTutorial .itemTutorial  .courseTutorial p{
    width: 250px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
    margin-left: 20px;
}

#lnReadTutorial #tableTutorial .itemTutorial  #nameTutorial{
    width: 380px;
    height: 40px;
    color:#103E2E;
}

#lnReadTutorial #tableTutorial .itemTutorial  #nameTutorial p{
    width: 380px;
    height: 40px;
    font-size: 14px;
}

#lnReadTutorial #tableContentTutorial{
    padding-top: 0px;
}
#lnReadTutorial #tableTutorial .itemTutorial #course1 p{
    background-color: #EF533D;
    background-size: cover;
}
#lnReadTutorial #tableTutorial .itemTutorial #course2 p{
    background-color: #3A877B;
}
#lnReadTutorial #tableTutorial .itemTutorial #course3 p{
    background-color: #3016E2;
}
#lnReadTutorial #tableTutorial .itemTutorial #course4 p{
    background-color: #FC6B57;
}
#lnReadTutorial #tableTutorial .itemTutorial #course5 p{
    background-color: #FF8F0B;
}
#lnReadTutorial #tableTutorial .itemTutorial #course6 p{
    background-color: #F6BC00;
}
/* Pagination */
#lnReadTutorial .paginationBttns {
    width: 100%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 14px;
    }
    
#lnReadTutorial .paginationBttns .previousBttn {
    -webkit-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
}
#lnReadTutorial .paginationBttns .nextBttn {
    -webkit-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
}

#lnReadTutorial .paginationBttns a {
padding:3px 5px 3px 5px;
border: 1px solid black;
color: black;
cursor: pointer;
}
#lnReadTutorial .paginationBttns a:hover {
    color: white;
    background-color: #1E5C5F;
    }
    
#lnReadTutorial .paginationActive a {
color: white;
background-color: #1E5C5F;
}

#lnReadTutorial .paginationDisabled a {
color: white;
background-color: #1E5C5F;
}
