#lnReadNotes #takeNoteCpn {
    margin-left: 325px;
    margin-top: 140px;
    height: 565px;
    width: 1175px; 
    background-image: url("../img/bgReadNote.png");
}
#lnReadNotes #titleTQ p {
    font-size: 40px;
    padding-top: 60px;
    padding-left: 20px;
}
#lnReadNotes #titleTQ {
    font-weight: bold;
}
#lnReadNotes #typeFilter {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;
}
#lnReadNotes #filterRN {
    display: flex;
    padding-top: 90px;
    padding-left: 200px;
}
#lnReadNotes #filterNote {
    padding-left: 10px;
    padding-top: 5px;
}
#lnReadNotes #filterNote #DropdownBar .dd-wrapper {
    width: 500px;
    font-size: 14px;
}
#lnReadNotes .dd-wrapper .dd-list .dd-scroll-list .dd-list-item:hover{
    background-color:#1E5C5F;
    color:white;
    font-size: 14px;
}
#lnReadNotes #tableNote {
    background-color: #fff;
    height: 270px;
    width: 800px;
    margin-left: 20px;
    margin-top: 10px;
    border: 3px solid #c4c4c4;
}
#lnReadNotes #stateNote {
    display: flex;
    padding-top: 10px;
    height: 30px;
    padding-left: 20px;
}
#lnReadNotes #stateNote #takenNote {
    height: 30px;
    width: 60px;
    color: #123E40;
    font-size: 14px;
}
#lnReadNotes #stateNote #newNote {
    height: 30px;
    width: 60px;
    color: #123E40;
    background-color: #fff;
    border-top: 3px solid #c4c4c4;
    border-left: 3px solid #c4c4c4;
    border-right: 3px solid #c4c4c4;
    font-size: 14px;
}
#lnReadNotes #stateNote #newNote p {
    text-align: center;
}
#lnReadNotes #stateNote #takenNote p {
    text-align: center;
    padding-top: 3px;
}
#lnReadNotes #tableNote{
    width: 1130px;
}
#lnReadNotes #tableNote .itemNote {
    display: flex;
    width: 1125px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid #c4c4c4;
    padding-top: 20px;
    font-size: 12px;
}
#lnReadNotes #tableNote .itemNote  #btnViewNote{
    width: 100px;
    height: 40px;
    color: #FC6B57;
    border-radius: 15px;
    border: 1px solid #FC6B57;
    font-size: 14px;
    margin-top: -10px;
    background-color: #fff;
    cursor: pointer;
}
#lnReadNotes #tableNote .itemNote  #btnViewNote:hover {
    color: #fff;
    background-color: #fc6b57;
}
#lnReadNotes #tableNote .itemNote  #btnDownloadNote{
    width: 100px;
    height: 40px;
    color: #57BAAB;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #57BAAB;
    font-size: 14px;
    margin-top: -10px;
    cursor: pointer;
    margin-left: 60px;
}
#lnReadNotes #tableNote .itemNote  #btnDownloadNote:hover {
    olor: #fff;
    background-color: #57BAAB;
}

#lnReadNotes #tableNote #nameColNote {
    font-weight: bold;
    display: flex;
    font-size: 14px;
    border-bottom: 4px solid #c4c4c4;
    padding-top: 5px;
}
#lnReadNotes #tableNote #nameColNote #numberNote {
    height: 40px;
    width: 30px;
    margin-left: 20px;
    color: #103E2E;
}
#lnReadNotes #tableNote #nameColNote #nameNote {
    height: 40px;
    width: 380px;
    color: #103E2E;
}
#lnReadNotes #tableNote #nameColNote #courseOfNote {
    height: 40px;
    width: 380px;
    padding-left: 20px;
    color: #103E2E;
}
#lnReadNotes #tableNote #nameColNote #stateViewNote{
    height: 40px;
    width: 160px;
    color: #103E2E;
}
#lnReadNotes #tableNote #nameColNote #stateDownloadNote{
    height: 40px;
    width: 100px;
    color: #103E2E;
}
#lnReadNotes #tableNote #scrollBar {
    height: 210px;
}
#lnReadNotes #tableRN {
    padding-left: 10px;
}

#lnReadNotes #tableNote .itemNote #numOfNote {
    width: 30px;
    height: 40px;
}
#lnReadNotes #tableNote .itemNote #numOfNote p {
    width: 30px;
    height: 40px;
}
#lnReadNotes #tableNote .itemNote  .courseNote{
    width: 380px;
    height: 40px;
    color: #fff;
}
#lnReadNotes #tableNote .itemNote  .courseNote p{
    width: 250px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
    margin-left: 20px;
}

#lnReadNotes #tableNote .itemNote  #nameNote{
    width: 380px;
    height: 40px;
    color:#103E2E;
}

#lnReadNotes #tableNote .itemNote  #nameNote p{
    width: 380px;
    height: 40px;
    font-size: 14px;
}

#lnReadNotes #tableContentNote{
    padding-top: 0px;
}
#lnReadNotes #tableNote .itemNote #course1 p{
    background-color: #EF533D;
    background-size: cover;
}
#lnReadNotes #tableNote .itemNote #course2 p{
    background-color: #3A877B;
}
#lnReadNotes #tableNote .itemNote #course3 p{
    background-color: #3016E2;
}
#lnReadNotes #tableNote .itemNote #course4 p{
    background-color: #FC6B57;
}
#lnReadNotes #tableNote .itemNote #course5 p{
    background-color: #FF8F0B;
}
#lnReadNotes #tableNote .itemNote #course6 p{
    background-color: #F6BC00;
}
/* Pagination */
#lnReadNotes .paginationBttns {
    width: 100%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 14px;
    }
    
#lnReadNotes .paginationBttns .previousBttn {
    -webkit-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
}
#lnReadNotes .paginationBttns .nextBttn {
    -webkit-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
}

#lnReadNotes .paginationBttns a {
padding:3px 5px 3px 5px;
border: 1px solid black;
color: black;
cursor: pointer;
}
#lnReadNotes .paginationBttns a:hover {
    color: white;
    background-color: #1E5C5F;
    }
    
#lnReadNotes .paginationActive a {
color: white;
background-color: #1E5C5F;
}

#lnReadNotes .paginationDisabled a {
color: white;
background-color: #1E5C5F;
}
