#lnTakeQuiz #takeQuizCpn {
    margin-left: 325px;
    margin-top: 140px;
    height: 565px;
    width: 1190px; 
    background-image: url("../img/bgTakeQuiz.png");
}
#lnTakeQuiz #titleTQ p {
    font-size: 40px;
    padding-top: 60px;
    padding-left: 20px;
}
#lnTakeQuiz #titleTQ {
    font-weight: bold;
}
#lnTakeQuiz #typeFilter {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;
}
#lnTakeQuiz #filterTQ {
    display: flex;
}
#lnTakeQuiz #filterQuiz {
    padding-left: 10px;
    padding-top: 5px;
}
#lnTakeQuiz #filterQuiz #DropdownBar .dd-wrapper {
    width: 500px;
    font-size: 14px;
}
#lnTakeQuiz .dd-wrapper .dd-list .dd-scroll-list .dd-list-item:hover{
    background-color:#1E5C5F;
    color:white;
    font-size: 14px;
}
#lnTakeQuiz #tableQuiz {
    background-color: #fff;
    height: 280px;
    width: 800px;
    margin-left: 20px;
    margin-top: 10px;
    border: 3px solid #c4c4c4;
}
#lnTakeQuiz #stateQuiz {
    display: flex;
    padding-top: 10px;
    height: 30px;
    padding-left: 20px;
}
#lnTakeQuiz #stateQuiz #takenQuiz {
    height: 30px;
    width: 60px;
    color: #123E40;
    font-size: 14px;
}
#lnTakeQuiz #stateQuiz #newQuiz {
    height: 30px;
    width: 60px;
    color: #123E40;
    background-color: #fff;
    border-top: 3px solid #c4c4c4;
    border-left: 3px solid #c4c4c4;
    border-right: 3px solid #c4c4c4;
    font-size: 14px;
}
#lnTakeQuiz #stateQuiz #newQuiz p {
    text-align: center;
}
#lnTakeQuiz #stateQuiz #takenQuiz p {
    text-align: center;
    padding-top: 3px;
}
#lnTakeQuiz #tableQuiz{
    width: 1130px;
}
#lnTakeQuiz #tableQuiz .itemQuiz {
    display: flex;
    width: 1125px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid #c4c4c4;
    padding-top: 20px;
    font-size: 12px;
}
#lnTakeQuiz #tableQuiz .itemQuiz  #btnStartQuiz{
    width: 100px;
    height: 40px;
    color: #fff;
    margin-left: 30px;
    background-color: #206466;
    border-radius: 20px;
    border: 1px solid #000;
    font-size: 14px;
    margin-top: -10px;
}
#lnTakeQuiz #tableQuiz .itemQuiz  #nameQuiz{
    width: 400px;
    height: 40px;
}
#lnTakeQuiz #tableQuiz .itemQuiz  .courseQuiz{
    width: 300px;
    height: 40px;
    color: #fff;
}
#lnTakeQuiz #tableQuiz .itemQuiz  .courseQuiz p{
    width: 250px;
    height: 20px;
    /* -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
}
#lnTakeQuiz #tableQuiz .itemQuiz  #lengthQuiz{
    width: 300px;
    height: 40px;
}
#lnTakeQuiz #tableContentQuiz{
    padding-top: 30px;
}
#lnTakeQuiz #tableQuiz .itemQuiz #course1 p{
    background-color: #EF533D;
    background-size: cover;
}
#lnTakeQuiz #tableQuiz .itemQuiz #course2 p{
    background-color: #3A877B;
}
#lnTakeQuiz #tableQuiz .itemQuiz #course3 p{
    background-color: #3016E2;
}
#lnTakeQuiz #tableQuiz .itemQuiz #course4 p{
    background-color: #FC6B57;
}
#lnTakeQuiz #tableQuiz .itemQuiz #course5 p{
    background-color: #FF8F0B;
}
#lnTakeQuiz #tableQuiz .itemQuiz #course6 p{
    background-color: #F6BC00;
}
/* Pagination */
#lnTakeQuiz .paginationBttns {
    width: 100%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 14px;
    }
    
#lnTakeQuiz .paginationBttns .previousBttn {
    -webkit-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
}
#lnTakeQuiz .paginationBttns .nextBttn {
    -webkit-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
}

#lnTakeQuiz .paginationBttns a {
padding:3px 5px 3px 5px;
border: 1px solid black;
color: black;
cursor: pointer;
}
#lnTakeQuiz .paginationBttns a:hover {
    color: white;
    background-color: #1E5C5F;
    }
    
#lnTakeQuiz .paginationActive a {
color: white;
background-color: #1E5C5F;
}

#lnTakeQuiz .paginationDisabled a {
color: white;
background-color: #1E5C5F;
}
#lnTakeQuiz #tableQuiz #nameColQuiz {
    font-weight: bold;
    display: flex;
    font-size: 14px;
    border-bottom: 4px solid #c4c4c4;
    padding-top: 5px;
}
#lnTakeQuiz #tableQuiz #nameColQuiz #numberQuiz {
    height: 40px;
    width: 400px;
    padding-left: 20px;
}
#lnTakeQuiz #tableQuiz #nameColQuiz #courseOfQuiz {
    height: 40px;
    width: 287px;
}
#lnTakeQuiz #tableQuiz #nameColQuiz #lengthOfQuiz{
    height: 40px;
    width: 300px;
}
#lnTakeQuiz #tableQuiz #nameColQuiz #stateOfQuiz{
    height: 40px;
    width: 100px;
    padding-left: 30px;
}
#lnTakeQuiz #tableQuiz #scrollBar {
    height: 220px;
}