/*_____________SideBar_____________*/
#SideBar {
    position: fixed;
    width: 325px;
    height: 100vh;
    background-color: #f4f4f4;
    margin-top: 115px;
}

#SubSideBar button:hover #dashboard {
    content: url("../img/dashboardHover.png")
}
#SubSideBar button:hover #myCourses {
    content: url("../img/myCoursesHover.png")
}
#SubSideBar button:hover #announcements {
    content: url("../img/announcementsHover.png")
}
#SubSideBar button:hover #manageProfile {
    content: url("../img/manageProfileHover.png")
}
#SubSideBar button:hover #takeQuiz {
    content: url("../img/takeQuizHover.png")
}
#SubSideBar button:hover #readTutorial {
    content: url("../img/readTutorialHover.png")
}
#SubSideBar button:hover #readNotes {
    content: url("../img/readNotesHover.png")
}
#SubSideBar button:hover {
    background-color: #160E4D;
    color: #f4f4f4;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    width: 325px;
}
#SubSideBar button:hover p {
    background-color: #160E4D;
}

.ActiveLink #dashboard {
    content: url("../img/dashboardHover.png")
}
.ActiveLink #myCourses {
    content: url("../img/myCoursesHover.png")
}
.ActiveLink #announcements {
    content: url("../img/announcementsHover.png")
}
.ActiveLink #manageProfile {
    content: url("../img/manageProfileHover.png")
}
.ActiveLink #takeQuiz {
    content: url("../img/takeQuizHover.png")
}
.ActiveLink #readTutorial {
    content: url("../img/readTutorialHover.png")
}
.ActiveLink #readNotes {
    content: url("../img/readNotesHover.png")
}

#SubSideBar .ActiveLink button p {
    background-color: #160E4D;
}
#SubSideBar .ActiveLink button{    
    background-color: #160E4D;
    color: #f4f4f4;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    width: 325px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
li {
    /* display: box; */
    list-style-type: none;
}
#SubSideBar li img {
    display: inline-block;
    align-items: center;
    vertical-align: center;
    position: absolute;
    margin-left: 15px;
}
#SubSideBar p {
    margin-left: 80px;  
}
#SubSideBar .insSideBarLink p {
    background-color: #f4f4f4;  ;
}
#SubSideBar #dashboard {
    margin-top: 4px;
}
#SubSideBar #profile {
    margin-top: 3px;
}
#SideBar button{
    display: flex;
    text-align: center;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 45px;
    font-style: normal;
    font-weight: bold;
}
#footer {
    margin-top: 150px;
    margin-left: 25px;
}
#SubSideBar .insSideBarLink {
    text-decoration: none;
}