/*_____________SideBar_____________*/
#SideBar {
    position: fixed;
    width: 270px;
    height: 100vh;
    background-color: #f4f4f4;
    margin-top: 120px;
    z-index: 999;
}

#SubSideBar button:hover #dashboard {
    content: url("../img/dashboardHover.png")
}

#SubSideBar button:hover #manageCourse {
    content: url("../img/manageCourseHover.png")
}

#SubSideBar button:hover #announce {
    content: url("../img/announceHover.png")
}

#SubSideBar button:hover #profile {
    content: url("../img/profileHover.png")
}
/*_______Addition for Admin______*/
#SubSideBar button:hover #manageins {
    content: url("../img/manageInsHover.png")
}
#SubSideBar button:hover #manageln {
    content: url("../img/manageLnHover.png")
}
/*_______Addition for Learner______*/
#SubSideBar button:hover #mycourses {
    content: url("../img/myCoursesHover.png")
}
#SubSideBar button:hover #readtutorial {
    content: url("../img/readTutorialHover.png")
}
#SubSideBar button:hover #readnotes {
    content: url("../img/readNotesHover.png")
}
#SubSideBar button:hover #takequiz {
    content: url("../img/takeQuizHover.png")
}


#SubSideBar button:hover {
    background-color: #160E4D;
    color: #f4f4f4;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    width: 270px;
}
#SubSideBar button:hover p {
    background-color: #160E4D;
    border-radius: 20px ;
}
#SubSideBar .ActiveLink #dashboard {
    content: url("../img/dashboardHover.png")
}
#SubSideBar .ActiveLink #manageCourse {
    content: url("../img/manageCourseHover.png")
}
#SubSideBar .ActiveLink #announce {
    content: url("../img/announceHover.png")
}
#SubSideBar .ActiveLink #profile {
    content: url("../img/profileHover.png")
}
/*_______Addition for Admin______*/
#SubSideBar .ActiveLink #manageins {
    content: url("../img/manageInsHover.png")
}
#SubSideBar .ActiveLink #manageln {
    content: url("../img/manageLnHover.png")
}
/*_______Addition for Learner______*/
#SubSideBar .ActiveLink #mycourses {
    content: url("../img/myCoursesHover.png")
}
#SubSideBar .ActiveLink #readtutorial {
    content: url("../img/readTutorialHover.png")
}
#SubSideBar .ActiveLink #readnotes {
    content: url("../img/readNotesHover.png")
}
#SubSideBar .ActiveLink #takequiz {
    content: url("../img/takeQuizHover.png")
}


#SubSideBar .ActiveLink button p {
    border-radius: 20px;
    background-color: #160E4D;
}
#SubSideBar .ActiveLink button{    
    background-color: #160E4D;
    color: #f4f4f4;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    width: 270px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
li {
    /* display: box; */
    list-style-type: none;
}
#SubSideBar li img {
    display: inline-block;
    align-items: center;
    vertical-align: center;
    position: absolute;
    margin-left: 15px;
}
#SubSideBar p {
    margin-left: 75px;  
}
#SubSideBar .insSideBarLink p {
    background-color: #f4f4f4;  ;
}
#SubSideBar #dashboard {
    margin-top: 5px;
}
#SubSideBar #profile {
    margin-top: 5px;
}
#SubSideBar #manageins {
    margin-top: 3px;
}
#SubSideBar #managecourse {
    margin-top: 3px;
}
#SubSideBar #manageln {
    margin-top: 3px;
}
#SubSideBar #announce {
    margin-top: 3px;
}
#SubSideBar #mycourses 
{
    margin-top: 5px;
}
#SubSideBar #readtutorial 
{
    margin-top: 5px;
}
#SubSideBar #readnotes
{
    margin-top: 5px;
}
#SubSideBar #takequiz
{
    margin-top: 5px;
}

#SideBar button{
    display: flex;
    text-align: center;
    background-color: #f4f4f4;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 45px;
    font-style: normal;
    font-weight: bold;
}



#SubSideBar .insSideBarLink {
    text-decoration: none;
}
#footer {
    position: absolute;
    top: 400px;
    left: 0px;
}
#footerad {
    margin-top: 225px;
}