#lnDashboard #getStarted:hover {
    background-color: #160E4D;
    color: #f4f4f4;
}
#lnDashboard #titleFun {
    color: #f4f4f4;
    text-align: left;
    padding-left: 200px;
    font-weight: bold;
    font-size: 24px;
}
#lnDashboard #descript {
    color: #f4f4f4;
    text-align: left;
    padding-left: 200px;
    padding-right: 10px;
    font-size: 18px;
}
#lnDashboard #btn {
    padding-left: 100px;
}
#lnDashboard #getStarted {
    margin-top: 10px;
    width: 120px;
    height: 40px;
    font-size: 18px;
    border-color: black;
    border-width: 2px;
    cursor: pointer;
    background-color: #f4f4f4;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
#lnDashboard #bground {
    background-image: url("../img/about.png");
    background-position: right top;
    display: inline-block;
    text-align: center;
    margin-top: 120px;
    margin-left: 325px;
    width: 740px;
    height: 180px;
    background-size: cover;
    padding-top: 40px;
}

#lnDashboard {
    display: flex;
}
/* Chart */
#lnDashboard  .title {
    font-size: 1.4em;
    font-weight: 300;
  }

#lnDashboard  .bar-group {
    text-align: center;
}
#lnDashboard  .colValue {
    font-size: 14px;
    font-weight:bold;
}

#lnDashboard  .bar-group .value-label {
    text-anchor: end;
    font-Weight: 900;
    font-size: 0.7em;
  }

#lnDashboard  .bar-group .name-label {
    font-size: 14px;
    fill: #000;
    font-weight: bold;
  }
  
#lnDashboard  .container .bar-group {
    transition: opacity 0.3s;
  }

#lnDashboard  .container .title {
    font-size: 28px;
    font-weight: bold;
    fill: #000;
  }
  
  /* Fade bars when the chart is hovered */
#lnDashboard  .container:hover .bar-group {
    opacity: 0.3;
  }
  
  /* But don't fade the hovered bar... */
#lnDashboard  .container .bar-group:hover {
    opacity: 1;
  }
  
#lnDashboard .container .bar-group:hover .name-label {
    font-weight: bold;
    font-size: 14px;
  }
  
#lnDashboard  .container .bar-group:hover .value-label {
    font-size: 10px;
    fill: #fff;
  }
#lnDashboard #calendar {
    height: 300px;
    width: 320px;
}
#lnDashboard #WSH{
    background-color:#00816ede;
    width: 350px;
    height: 240px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    margin-top: 36px;
    margin-right: 20px;

}


.Link-coursename {
    text-decoration: none;
    color: black;
}
