#myCourses {
background-image: url("../img/background/mc_bg.png");
width: 1170px;
height: 570px;
background-size: cover;
margin-top: 140px;
margin-left: 325px;
}
/* Dropbar */
#myCourses #DropdownBar{
position: relative;
padding-left: 10px;
}
#myCourses .dd-wrapper .dd-header-title{
margin:2px 10px;
margin-right:20px;
font-weight:bold;
}
html {
font-family: 'Nunito Sans', sans-serif;
font-size: 8px;
}
#myCourses .Dropdowns {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
margin:10px;
}

#myCourses .dd-wrapper{
width: 180px;
height: 30px;
font-size: 12px;
}


#myCourses .Dropdowns h3:nth-of-type(2) {
margin-top: 50px;
}
#myCourses .Dropdowns p {
margin-bottom: 50px;
font-size: 2.4rem;
}

#myCourses #DropdownBar {
display: flex;
}
#myCourses .dd-wrapper .dd-header span {
display: flex;
margin-right: 10px;
}
#myCourses .dd-wrapper .dd-header {
display: flex;
height: 30px;
}

#myCourses .dd-wrapper .dd-list .dd-scroll-list {
overflow-y:hidden;
max-height:215px;
padding:15px 0;
}
#myCourses .dd-wrapper .dd-list .dd-scroll-list .dd-list-item:hover{
background-color:#1E5C5F;
color:white
}
#myCourses #DropdownBar #sortBy p{
font-size: 10px;
}
#myCourses .dd-wrapper .dd-header{
display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;
align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;
position:relative;border:1px solid #dfdfdf;border-radius:3px;background-color:white;line-height:38px;cursor:default;cursor:pointer;
color: #1E5C5F;
}
/* TitleMC */
#myCourses .titleMC {
color: #fff;
font-weight: bold;
position: relative;
padding-top: 15px;
margin-left: 20px;
}
#myCourses .titleMC p{
font-size: 40px;
}
/* Type Course */
#myCourses #typeCourse {
display: flex;
margin-left: 20px;
margin-top: 15px;
height: 30px;
}
/* Search Bar MC */
#myCourses  #Input {
font-size: 12px;
margin-left: 240px;
height: 30px;
width: 380px;
}
#myCourses #searchIcon {
position: absolute;
margin-top: 5px;
margin-left: -30px;
cursor: pointer;
}
#myCourses #typeCourse #allCourses {
background-color: #316668;
color: #fff;
font-size: 12px;
font-weight: bold;
border-bottom: 4px solid #fff;
width: 80px;
text-align: center;
}
#myCourses #typeCourse #allCourses p {
padding: 5px 0px;
}
#myCourses #typeCourse #archived {
background-color: #316668;
color: #fff;
font-size: 12px;
font-weight: bold;
width: 80px;
text-align: center;
}
#myCourses #typeCourse #archived p {
padding: 5px 0px;
}
/* Label Sort Filter */
#myCourses #labelSortFilter{
display: flex;
}
#myCourses #sort, #filter {
color: white;
font-size: 12px;
font-weight: bold;
width: 80px;
text-align: left;
}
#myCourses #sort {
margin-left:20px;
}
#myCourses #filter {
margin-left: 120px;
}
#myCourses #labelSortFilter {
margin-top: 10px;
}
/* Filter Bar */
#myCourses #buttonReset {
color: white;
font-size: 12px;
font-weight: bold;
width: 40px;
text-align: left;
margin-left: 10px;
height: 50px;
}
#myCourses #buttonReset p{
height: 50px;
margin-top: 16px;
}
#myCourses #filterBar {
display: flex;
}
/* List Course */
.Link-coursename{
    text-decoration: none;
    color: #000;
}
#myCourses #tableCourses {
margin-left:20px;
background-color: #ffffff;
width: 782px;
height: 335px;
position: relative;
}
#myCourses #colCourses {
display: inline-block;
margin: 10px;
width: 240px;
}
#myCourses .itemCourse {
margin-right:15px;
width: 240px;
height: 240px;
border: 1px solid #000;
box-sizing: border-box;
}
#myCourses .itemCourse #bgCourse {
width: 238px;
box-sizing: border-box;
height: 120px;
}
#myCourses .itemCourse #more {
position: relative;
top: -130px;
left:200px;
width: 32.4px;
}

#myCourses .itemCourse #nameCourse {
font-size: 12px;
font-weight: bold;
box-sizing: border-box;
padding-left: 10px;
width: 240px;
height:30px;
position: relative;
}
#myCourses .itemCourse #authorCourse {
box-sizing: border-box;
width: 240px;
padding-left: 10px;
height: 20px;
position: relative;
}
#myCourses .itemCourse .rateCourseMC {
box-sizing: border-box;
width: 240px;

}
#myCourses .itemCourse {
background-color: #fff;
box-sizing: border-box;
}
#myCourses #progressBarBase {
padding-left: 10px;
margin-top: 5px;
}
#myCourses #rateCourse-stateProgress {
display:flex;
padding-left: 10px;
margin-bottom: 10px;
}
#myCourses #rateCourse-stateProgress .start  #progressStart{
width:100px;
}
#myCourses #rateCourse-stateProgress .started #progressStarted{
width:100px;
}
#myCourses #rateCourse-stateProgress .start #progressStarted {
display: none;
}
#myCourses #rateCourse-stateProgress .started #progressStart {
display: none;
}

/* Background Course */

/* pagination */
#myCourses .paginationBttns {
width: 100%;
height: 40px;
list-style: none;
display: flex;
justify-content: center;
margin-top: 10px;
font-size: 14px;
}

#myCourses .paginationBttns .previousBttn {
    -webkit-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
}
#myCourses .paginationBttns .nextBttn {
    -webkit-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
}

#myCourses .paginationBttns a {
padding:3px 5px 3px 5px;
border: 1px solid black;
color: black;
cursor: pointer;
}


#myCourses .paginationBttns a:hover {
color: white;
background-color: #1E5C5F;
}

#myCourses .paginationActive a {
color: white;
background-color: #1E5C5F;
}

#myCourses .paginationDisabled a {
color: white;
background-color: #1E5C5F;
}
/* Rate Score Course */
#myCourses .rateCourseMC #notScore {
display: none;
}
#myCourses .rateCourseMC #hadScore {
padding-left: 50px;
}

/* OpenMore */
#myCourses .nav-menu {
    display: none;
    flex-direction: column;
    width: 200px;
    height: 170px;
    position: absolute;
    border:1px solid #c4c4c4;
}

#myCourses .nav-item {
    height: 30px;
    font-size: 14px;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}
#myCourses .nav-item p{
    margin-left: 20px;
}
#myCourses #colCourses .nav-menu.active {
    display:block;
    background: white;
    opacity: 1;
    transition: all 0.5s ease;
    margin-top: -163px;
    z-index: 1;
    margin-left: 0px;
    box-shadow: 1px 3px 3px grey;
}

/* OpenRate */
#myCourses .nav-menu-rate {
    display: none;
    width: 500px;
    height: 275px;
    position: absolute;
}
#myCourses #colCourses .nav-menu-rate.active {
    display:flex;
    opacity: 1;
    background-color: #fff;
    transition: all 0.5s ease;
    top: 30px;
    z-index: 1;
    left: 150px;
    box-shadow: 2px 5px 5px grey;
}

/* Scroll Bar */
#myCourses #scrollbars {
    height: 335px;
    width: 782px;
    display: flex;
}
