#mainBody {
    padding-left: 10px;
    margin-left: 350px;
    margin-top: 140px;
    display: block;

}

#courseBoard {
    border: 1px solid #bbbbbb;
    border-width: 2;
    padding: 10px;
    margin-top: 10px;
    width: 420px;
    margin-right: 10px;
    border-radius: 20px;
    box-shadow: 0px 30px 20px -10px rgba(0, 0, 0, 0.1);
}

#courseBoard h1 {
    display: flex;
    width: 300px;
    margin-left: 15px;
    background-color: #fafafa;
}

#courseBoard h3 {
    display: flex;
    width: 300px;
    margin-left: 10px;
    font-size: 20px;
}


#courseBoard button h3 {
    display: flex;
    width: 300px;
    margin-left: 10px;
    font-size: 16px;
    width: auto;
}

#courseBoard #boardHeader{
    display: flex;
    margin-left: px;
    color: lightslategray;
    height: 60px;
    border-bottom: 2px solid #bbbbbb;
    cursor:pointer;
}

#lowerBody #courseBoard #boardHeader h1{
    font-size: 36px;
}


#courseBoard #boardHeader p {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 11px;
    padding-right: 10px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 75px;    
    border-radius: 20px;
    border: 1px solid #bbbbbb;
    background-color: #FAFAFA;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
}

#courseBoard #boardHeader button{
    border: none;
    background-color: #FFFFFF;
}

#courseBoard #boardHeader button :hover {
    background-color: #bbbbbb;
    color:#160E4D;
    border: 1px solid #160E4D;
}

#courseItem {
    padding: auto;
    display: flex;
    height: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 395px;
    list-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

#courseItem li {
    list-style: none;
}

#courseItem img {
    width: 100px;
    height: 100px;
    display: flex;
    margin: 10px;
    border-radius: 20px;    
}
#courseItem #information h3{
    display: block;
    width: 180px;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    height: 30px;
    color: #160E4D;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: thin;
}


#courseItem #viewButton {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    display: block;
    height: 30px;
    width: 100px;
    border-radius: 30px;
    background-color: #FC6858;
    border: 1px solid #000000;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
    padding-left: auto;
    padding-right: auto;
}
#courseItem #viewButton #navLink {
    text-decoration: none;
    color: #160E4D;
}


#courseItem #viewButton :hover {
    color: #fafafa;
}

#courseItem #information {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 0px;
    border-radius: 0px;
    border: none;
}

#mainBody #lowerBody {
    display: flex;
}

#mainBody #upperBody {
    display: flex;
    margin-left:0px;
    background-color: #04EB93;
    width: 1150px;
    border-radius: 20px;
    height: 200px;
    cursor: pointer;
    color: #fafafa;
}
#mainBody #upperBody h1{
    font-size: 32px;
}

#mainBody #upperBody h2{
    font-size: 24px;
}

#mainBody #small-titles {
    display: flex;
    margin-left: 200px;
}

#mainBody #small-titles-child {
    display: inline-block;
    padding: 30px;
}

#mainBody #upperBody #big-title-img {
    display: inline-block;
    width: 240px;
    margin: 30px;
    margin-left: 30px;
}

#mainBody #upperBody #big-title-img img {
    display: inline-block;
    height: 150px;
}

#upperBody #big-titles {
    display: inline-block;
    padding: 10px;
    margin-left: 200px;
    width: 600px;
}

#upperBody #small-titles img{
    display: flex;
    width: 60px;
    height: 60px;
    margin: auto;
    margin-right: 15px;
}

#upperBody #small-titles-child{
    display: flex;

}
