
 #searchResultWrapper #coursesCFY {
    background-color: rgba(88, 186, 171, 0.5);
    display: inline-block;
    margin-top: 10px;
    width: 1100px;
    height: 520px;
    border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0 0;
    border-style: solid;
    border-color: #c4c4c4;
    border-width: 2px;
}
#searchResultWrapper #titleCFY {
    display: none;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 2px;
}
#searchResultWrapper #listCoursesCFY {
    background-color:white;
    width: 710x;
    margin-left: 15px;
    margin-right: 15px;
    height: 510px;
}

#searchResultWrapper #rateContent {
    display: flex;
    margin-top: 5px;
}
#searchResultWrapper #rateContent #p1 {
    width: 90px;
    height: 30px;
    font-size: 14px;
    text-align: center;
}


#searchResultWrapper #rateContent #p1 p {
    margin-top: 5px;
}
#searchResultWrapper #rateContent #p2 {
    color: rgba(255,217,2,0.7);
    height: 30px;
    width: 30px;
    font-size: 14px;
    text-align: center;
    margin-left: 10px;
}
#searchResultWrapper #rateContent #p2 p {
    margin-top: 5px;
}
#searchResultWrapper #rateContent #p3 {
    margin-left: 10px;
}
#searchResultWrapper #rateContent #p4 {
    color: rgba(196,196,196,1);
    height: 30px;
    width: 60px;
    font-size: 14px;
    text-align: center;
    margin-left: 10px;
}
#searchResultWrapper #rateContent #p4 p {
    margin-top: 5px;
}
/* -----------CourseContent---------- */
#searchResultWrapper #courseContent #Name{
    font-weight: bold;
    font-size: 14px;
}
#searchResultWrapper #courseContent #Desc{
    font-size: 14px;
}
#searchResultWrapper #courseContent #Author{
    color: rgba(196,196,196,1);
    font-size: 14px;
}
/* ----------courseCFY--------- */
#searchResultWrapper #courseCFY {
    display: flex;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
    position: relative;
}
#searchResultWrapper #courseContent {
    padding-left: 10px;
} */

/* --------- drop down ---------- */


/* ======= search main page ==========*/
#searchResultWrapper {
    margin-left: 380px;
    margin-top: 130px;
}

#floatBar {
    margin-left: 570px;
    margin-top: 610px;
    z-index: 12;
    display: flex;
    height: 100px;
    width: 700px;
    background-color:#04EB93;
    border-radius: 20px;
    position: fixed;
}

#floatBar h1 {
    margin-left: 20px;
    margin-top: 30px;
    height: 40px;
    width: 500px;
    padding: auto;
    color: #fafafa;
    font-size: 32px;
}



#floatBar button{
    margin-left: 40px;
    margin-top: 25px;
    margin-bottom: 20px;
    padding-top: 14px;
    padding-bottom: 15px;
    width: 120px;
    height: 50px;
    background-color: #fafafa;
    border-radius: 20px;
    border: none;
    cursor: pointer;

}
#floatBar button h2{
    height: 20px;
    color: #04EB93;
    transition-duration: 0.4s;

}

#floatBar button :hover {
    color: #FC6858; 
}




