#sideBarGuest {
    position: fixed;
    margin-top: 130px;
    margin-left: 0px;
    z-index: 0;
    width: 350px;
    color: #160E4D;
}
#sideBarGuest h2{
    font-size: 24px;
}

#sideBarGuest h3 {
    font-size: 18px;
}

#courseBoardSB {
    border-radius: 20px; 
    padding: 10px;
    margin-top: 10px;
    width: 320px;
    margin-left: 10px;
    background-color:#FAFAFA;
    border: 1px solid #BBBBBB;
    box-shadow: 0px 30px 20px -10px rgba(0, 0, 0, 0.1);
}

#courseBoardSB h2 {
    margin-left: 20px;
    border-bottom: 1px solid #bbbbbb;
    display: flex;
    width: 310px;
    
}

#navLink {
    text-decoration: none;
}

#informationSB {
    margin-left: 0px;
    margin-top: 10px;
}


#boardHeaderSB {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    width: 275px;
    display: flex;
    margin: 5px
}
/* course Item */

#courseItemSB{
    width: 300px;
    border: 1px solid #bbbbbb;
    display: flex;
    height: 100px;
    border-radius: 20px;
    margin-bottom: 5px;
    background-color: #FFFFFF;
}


#courseBoardSB :hover {
    cursor: pointer;
}
#courseBoardSB #courseListSB #navLink {
    color: #160E4D;
}
#courseBoardSB #courseListSB #navLink :hover{
    color: #FC6858;

}



#courseItemSB img {
    width: auto;
    display: flex;
    margin: 10px;
    border-radius: 20px;
}


#informationSB #courseItemSB h3 {
    margin: 10px;
    margin-left: 10px;
    display: block;
    width: 200px ;
    font-size: 16px;
}
#courseName h2 {
    margin: 10px;
    margin-left: 10px;
    display: block;
    width: 200px ;
    font-size: 18px;
}