.Toastcontainer {
    font-size: 14px;
    position: fixed;
    z-index: 1000;
}

.Toastbutton-right{
    top: 1rem;
    right: 1rem;
    animation-name: toast-in-right;
    animation-duration: 0.3s;
}

.Toastnotification{
    margin-bottom: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 10px #999;
    color: #000;
    opacity: 0.9;
}

.Toastnotification:hover{
    box-shadow: 0 0 12px #fff;
    opacity: 1;
}

.Toasttoast {
    height: auto;
    width: 365px;
    color: #fff;
    padding: 20px 15px 10px 10px;
}

.Toastcontainer button {
    float: right;
    background: none;
    border: none;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
}

.Toasttitle {
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 6px;
    width: 300px;
    height: 18px;
}

.Toastdesciption {
    margin: 0;
    text-align:left;
}


@keyframes toast-in-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}