#insMC {
    position: absolute;
    display: inline-block;
    margin-left: 300px;
    margin-top: 125px;
    width: 1225px;
    height: 80vh;
}
#insMC #rateContent #p1 {
    font-size: 14px;
    font-weight: bold;
}


#insMC #rateContent #p2 {
    font-size: 14px;
    font-weight: bold;
}

#insMC #rateContent #p4 {
    font-size: 14px;
}
#insMC #courseContent {
    flex-wrap: wrap;
}
#insMC #courseContent #Name{
    font-size: 20px;
    flex-wrap: wrap;
}
#insMC #courseContent #Desc{
    font-size: 16px;
}
#insMC #courseContent #Author{
    font-size: 16px;
}