#lnManageProfile #MP{
    display: flex;
    position: absolute;
    margin-top: 125px;
    margin-left: 300px;
    box-sizing: border-box;
    width: 1200px;
    height: 580px;
    background-color: #EFFAF8;
    border-radius: 20px;
    border: black 1px solid;
}

#lnManageProfile #MP #container input {
    display: none;
}
#lnManageProfile #MP #container .camera-btn {
    display: inline-block;
    cursor: pointer;
}
#lnManageProfile #MP .avatarChange #big-avt {
    display: inline-block;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    object-fit: cover;
}

#lnManageProfile #MP .avatarChange #container #change-avt {
    transform: translate(25%, 25%);
}

#lnManageProfile #MP .avatarChange #container {
    position: relative;
    margin-top: -40px;
    margin-left: 100px;
    width: 45px;
    height: 45px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    background-color: #C4C4C4;
}
#lnManageProfile #MP .avatarChange {
    margin-top: 50px;
    margin-left: 50px;
}
#lnManageProfile #MP .avatarChange #nameUser {
    position: relative;
    font-size: 40px;
    line-height: 60px;
    margin-left: -40px;
    width: 220px;
    text-align: center;
}


/* ------Text input------ */
#lnManageProfile #MP #col1 {
    margin-left: 50px;
}
#lnManageProfile #MP #col2 {
    margin-top: 10px;
    margin-left: 100px;
}
#lnManageProfile #MP #row-1, #lnManageProfile #row-2, #lnManageProfile #row-3, #lnManageProfile #row-4, #lnManageProfile #row-5{
    display: flex;
}
#lnManageProfile #MP #row-2, #lnManageProfile #row-3, #lnManageProfile #row-4, #lnManageProfile #row-5 {
    margin-top: 20px;
}
#lnManageProfile #MP #col2 .label-pf {
    display: block;
    position: relative;
    margin-left: 5px;
    font-size: 26px;
}
#lnManageProfile #MP .input-tag-pf {
    display: block;
    border-radius: 15px;
    border: 1px solid;
    height: 40px;
    font-size: 24px;
    padding-left: 10px;
}


#lnManageProfile #MP #input-email {
    width: 400px;
}
#lnManageProfile #MP #input-lastname {
    width: 200px;
}
#lnManageProfile #MP #col2 #f-name {
    margin-left: 50px;
}
#lnManageProfile #MP #input-fname {
    width: 200px;
}
#lnManageProfile #MP #col2 #sex {
    margin-left: 75px;
}
#lnManageProfile #MP #input-sex {
    width: 100px;
}
#lnManageProfile #MP #input-email {
    width: 450px;
}
#lnManageProfile #MP #col2 #b-day {
    margin-left: 65px;
}
#lnManageProfile #MP #input-birthday {
    width: 215px;
}
#lnManageProfile #MP #input-number, #lnManageProfile #input-city {
    width: 300px;
}
#lnManageProfile #MP #col2 #city, #lnManageProfile #MP #col2 #country {
    margin-left: 25px;
}
#lnManageProfile #MP #input-des {
    width: 600px;
    height: 75px;
}
#lnManageProfile #MP #row-5 #passconfirm {
    margin-left: 25px;
}
#lnManageProfile #MP #row-6 {
    margin-top: 30px;
    margin-left: 200px;
}
#lnManageProfile #MP #row-6 button {
    width: 120px;
    height: 40px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 20px;
    border-radius: 25px;
    color: #f4f4f4;
}

#lnManageProfile #MP #row-6 .btn-save {
    display: none;
}
#lnManageProfile #MP #row-6 .btn-save.active {
    display: inline-block;
}
#lnManageProfile #MP #row-6 #save-btn {    
    background-color: #44bebe;
}
#lnManageProfile #MP #row-6 #cancel-btn {
    background-color: #C4C4C4;
    margin-left: 25px;
}

#lnManageProfile #MP #row-6 .btn-save.active:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
}
#lnManageProfile #MP #avt-url {
    position: relative;
    margin-top: 10px;
    margin-left: -20px;
    width: 200px;
    display: block;
    border-radius: 15px;
    border: 1px solid;
    height: 40px;
    font-size: 24px;
    padding-left: 10px;
}