#Announ-wholeblock {
    display: flex;
    position: relative;
    margin-top: 18vh;
    margin-left: 19vw;
    width: 79vw;
    height: 75vh;
    background-color: #58baab;
    border-radius: 15px;
    -webkit-border-radius: 15px;
}

/*_____________SearchBar______________*/
#Announ-wholeblock #pickRange {
    margin-top: 4%;
    margin-left: 65px;
    font-size: 18px;
    display: flex;
    text-align: center;
}

#Announ-wholeblock #pickRange div {
    padding: 5px;
    border: 1px solid black;
    width: 100px;
}

#Announ-wholeblock #pickRange div:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

/*_________________________________*/

/*___________Left Block___________*/

#Announ-wholeblock #listAnnoun {
    width: 330px;
    height: 95%;
    text-align: center;
    background-color: white;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
}

#Announ-wholeblock #listAnnoun #sublistAnnoun {
    margin-top: 2%;
    text-align: center;
    width: 98%;
    height: 85%;
    position: relative;
}

#Announ-wholeblock .receive-box.open {
    display: block;
}

#Announ-wholeblock .receive-box {
    display: none;
}

#Announ-wholeblock .send-box.open {
    display: block;
}

#Announ-wholeblock .send-box {
    display: none;
}

#Announ-wholeblock .Announcpn {
    background-color: white;
    border: 0px;
    width: 90%;
    height: auto;
    text-align: left;
    margin: 15px 4% 5px 4%;
    padding-left: 2%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    line-height: 25px;
    position: relative;
    cursor: pointer;
    border: 1px solid #000;
}

#Announ-wholeblock .Announcpn:hover {
    width: 92%;
    box-shadow: 3px 3px 5px grey;
}

#Announ-wholeblock .Announcpn p {
    color: black;
    padding: 2px 0px 2px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#Announ-wholeblock .Announcpn .receiver {
    font-size: 18px;
    width: 190px;
}
#Announ-wholeblock .Announcpn .subject {
    font-size: 18px;
    width: 250px;
}
#Announ-wholeblock .Announcpn .content {
    font-size: 14px;
    font-style: italic;
    padding-left: 20px;
    width: 250px;
}
#Announ-wholeblock .Announcpn .time {
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: -2px;
}
/*_______________________*/

/*__________Right Block___________*/
#Announ-wholeblock #content-block {
    position: relative;
    width: 70%;
    height: 95%;
    margin: 1% 0px 1% 1%;
}

#Announ-wholeblock #content-block #sender-receiver {
    font-size: 18px;
    font-weight: bold;
    color: white;
    line-height: 30px;
    height: 10%;
}

#Announ-wholeblock #content-block #inside-content-block {
    background-color: white;
    width: 99%;
    height: 87%;
    margin: 2% 2% 1% 0px;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
}

#Announ-wholeblock #content-block #inside-content-block #subject-inside {
    font-size: 30px;
    color: #160e4d;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #898989;
}

#Announ-wholeblock #content-block #inside-content-block #content-inside {
    font-size: 18px;
    text-indent: 30px;
    line-height: 32px;
    padding: 15px;
}

#Announ-wholeblock #content-block #inside-content-block #time-inside {
    position: absolute;
    font-size: 14px;
    top: 30px;
    right: 15px;
}

#Announ-wholeblock .choose {
    display: none;
}

#Announ-wholeblock .choose.active {
    display: block;
    height: 100%;
}
