.new-announ #newannounbutton {
    position: absolute;
    display: block;
    right: 2%;
    bottom: 3%;
    z-index: 3;
    cursor: pointer;
}

.new-announ #newannounbutton:hover {
    transform: scale(1.1);
}

/*    Control Box show up or close     */
.new-announ .boxbox {
    display: none;
}

.new-announ .boxbox.show-up {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 5;
}

.new-announ .boxbox.show-up .new-announ-modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.new-announ .boxbox.show-up .new-announ-modal-body {
    position: relative;
    top: 22vh;
    z-index: 2;
    background-color: #58baab;
    border: 1px solid black;
    width: 900px;
    height: 500px;
    position: relative;
    left: 450px;
    bottom: 610px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}
/*______________________________________*/

.new-announ #New-Announ-Box #close-button {
    position: absolute;
    font-size: 18px;
    padding: 3px;
    top: 7px;
    right: 10px;
    cursor: pointer;
}

.new-announ #New-Announ-Box #close-button:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.new-announ #New-Announ-Box #tick-box {
    margin-left: 25px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: left;
}

.new-announ #New-Announ-Box #tick-box #tick-box-top {
    display: flex;
    margin-top: 5px;
}

.new-announ #New-Announ-Box #tick-box #tick-box-top-inside {
    margin-right: 80px;
}

#Announ-wholeblock #coursefastname {
    margin-top: 10px;
    padding-left: 20px;
    font-size: 23px;
    width: 750px;
    height: 30px;
}

.new-announ #New-Announ-Box #send-button {
    position: absolute;
    right: 35px;
    top: 410px;
    cursor: pointer;
}

.new-announ #New-Announ-Box #send-button:hover {
    transform: scale(1.1);
}

/*     Text Editor     */

.new-announ #New-Announ-Box #subject {
    font-size: 20px;
    padding-left: 20px;
    margin-left: 25px;
    margin-bottom: 30px;
    width: 850px;
    border: 1px solid black;
}

.new-announ #New-Announ-Box .text-editor {
    background-color: white;
    font-size: 20px;
    margin-left: 25px;
    width: 850px;
    height: 365px;
    border: 1px solid black;
    padding: 10px 20px 0px 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
