#Header {
    background-color: #f4f4f4;
    position: fixed;
    align-items: center;
    z-index: 999;
    height: 120px;
    display: flex;
    width: 100%;
}
#Logo {
    background-color: #f4f4f4;
    width: 325px;
    height: 115px;
    cursor: pointer;
    position: relative;
    margin-top: 0px;
}

/* SEARCH BAR */
#SearchBar {
    margin-top: 20px;
    padding-left: 40px;
}
#Input {
    size: 32;
    width: 425px;
    height: 40px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    padding-left: 15px;
}
#searchIcon {
    position: absolute;
    margin-top: 8px;
    margin-left: -50px;
    cursor: pointer;
}


#Header #arrow-btn {
    right: 0px;
}
#Header #arrow img {
    margin-left: 20px;
}
#avatar img {
    display: inline-block;
    margin-right: 20px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    cursor: pointer;
}
#Header #arrow img {
    margin-top: 20px;
    cursor: pointer;
}
#Header #arrowClose {
    transform: rotate(180deg);
}
.nav-link {
    display: none;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}
.nav-menu {
    display: block;
    margin-top: 40px;
    flex-direction: column;
    width: 75%;
    height: 100px;
    position: absolute;
}
.nav-menu.active .nav-link {
    display: flex;
    background-color: #f4f4f4;
}
.nav-item {
    height: 60px;
    font-size: 24px;
    white-space: 20px;
}
.nav-link:hover {
    border-bottom: 4px solid #242222;
    transition: all 0.2s ease-out;
}
.nav-menu.active {
    margin-left: 25%;
    background: white;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
}

/* INFORMATION USER */
#information {
    position: relative;
    margin-top: 15px;
    margin-left: 25vw;
    margin-bottom: 0px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    display: flex;
    border: 1px solid black;
    padding: 5px;
}
#information #inform {
    margin-right: 10px;
}

#information h3 {
    color: black;
    cursor: pointer;
    font-size: 20px;
}
#information p {
    font-size: 14px;
}

#information #linkName {
    text-decoration: none;
}
