#Header {
    position: fixed;
    width: 100vw;
    height: 120px;
    margin-left: 325px;
    display: flex;
}


/* SEARCH BAR */
#SearchBar {
    margin-top: 65px;
    margin-left: 50px;
}
#Input {
    size: 32;
    width: 350px;
    height: 40px;
    border-radius: 45px;
    padding-left: 15px;
}
#searchIcon {
    position: absolute;
    top: 73.5px;
    left: 360px;
    cursor: pointer;
}


/* INFORMATION USER */
#informationInstructor {
    list-style-position: inside;
    margin-left: 475px;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 45px;
    display: flex;
    border: 1px solid black;
    padding: 5px;
}

#informationInstructor h3 {
    cursor: pointer;
    font-size: 20px;
}
#informationInstructor p {
    font-size: 14px;
}

#avatar img {
    display: inline-block;
    background-size: cover;
    flex-wrap: wrap;
    margin-right: 20px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    cursor: pointer;
}
#arrow {
    margin-left: 15px;
    margin-top: 25px;
    cursor: pointer;
}