#Header {
    position: fixed;
    width: 100vw;
    height: 120px;
    display: flex;
}
#Logo {
    background-color: #f4f4f4;
    width: 325px;
    height: 115px;
    cursor: pointer;
}

/* SEARCH BAR */
#SearchBar {
    margin-top: 65px;
    margin-left: 50px;
}
#Input {
    size: 32;
    width: 350px;
    height: 40px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    padding-left: 15px;
}
#searchIcon {
    position: absolute;
    top: 73.5px;
    left: 675px;
    cursor: pointer;
}


/* INFORMATION USER */

/*_______Information for Instructor______*/
#informationInstructor {
    margin-left: 475px;
    margin-top: 50px;
    margin-bottom: 0px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    display: flex;
    border: 1px solid black;
    padding: 5px;
}
#informationInstructor #inform {
    margin-right: 10px;
}

#informationInstructor h3 {
    color: black;
    cursor: pointer;
    font-size: 20px;
}
#informationInstructor p {
    font-size: 14px;
}

#informationInstructor #linkName {
    text-decoration: none;
}

/*_____End Information for Instructor______*/

/*_______Information for Admin______*/
#informationAdmin {
    list-style-position: inside;
    margin-left: 475px;
    margin-top: 50px;
    margin-bottom: 0px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    display: flex;
    border: 1px solid black;
    padding: 5px;
}

#informationAdmin h3 {
    cursor: pointer;
    font-size: 20px;
}
#informationAdmin p {
    font-size: 14px;
}
/*_____End Information for Admin______*/


#avatar img {
    display: inline-block;
    margin-right: 20px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    cursor: pointer;
}
#informationInstructor #arrow img {
    margin-top: 20px;
    cursor: pointer;
}
#informationInstructor #arrowClose {
    transform: rotate(180deg);
}