#Header {
    display: inline-block;
    background-color: #f4f4f4;
    width: 100vw;
    height: 120px;
    display: flex;
}

#SearchBar {
    margin-top: 65px;
    margin-left: 40px;
}
#Input {
    size: 32;
    width: 350px;
    height: 40px;
    border-radius: 45px;
    padding-left: 15px;
    /* background: white url(../img/search.png) right no-repeat; */
    /* background-position-x: 315px; */
}
#searchIcon {
    position: absolute;
    top: 73.5px;
    right: 55vw;
    cursor: pointer;
}

#informationInstructor {
    list-style-position: inside;
    margin-left: 100px;
    display: flex;
}

#avatar {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 45px;
}
#arrow {
    margin-left: 45px;
}