#Header {
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    height: 120px;
    display: flex;
}
#Logo {
    background-color: #f4f4f4;
    width: 325px;
    height: 115px;
    cursor: pointer;
    top: 0;
    left: 0;
}

/* SEARCH BAR */
#SearchBar {
    margin-top: 50px;
    margin-left: 125px;
}
#Input {
    size: 32;
    width: 400px;
    height: 40px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    padding-left: 15px;
}
#searchIcon {
    position: absolute;
    margin-top: 8px;
    margin-left: -50px;
    cursor: pointer;
}


#avatar img {
    display: inline-block;
    margin-right: 20px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    cursor: pointer;
}
#Header #arrow-btn {
    right: 0px;
}
#Header #arrow img {
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}
#Header #arrowClose {
    transform: rotate(180deg);
}
.nav-link {
    display: inline-block;
    align-items: center;
    text-decoration: none;
}
.nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
}
.nav-item {
    height: 80px;
}
#information {
    position: relative;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 300px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    display: flex;
    border: 1px solid black;
    padding: 5px;
}
#information #inform {
    margin-left: 20px;
}

#information h3 {
    color: black;
    cursor: pointer;
    font-size: 20px;
}
#information p {
    font-size: 14px;
}

#information #linkName {
    text-decoration: none;
}
