/*_____________SideBar_____________*/
#SideBar {
    position: fixed;
    width: 270px;
    height: 100vh;
    background-color: #f4f4f4;
    margin-top: 120px;
}
#SubSideBar button:hover #dashboard {
    content: url("../img/dashboardHover.png")
}
#SubSideBar button:hover #manageCourse {
    content: url("../img/manageCourseHover.png")
}
#SubSideBar button:hover #announce {
    content: url("../img/announceHover.png")
}
#SubSideBar button:hover #profile {
    content: url("../img/profileHover.png")
}
/*_______Addition for Admin______*/
#SubSideBar button:hover #instructor {
    content: url("../img/instrHover.png")
}
#SubSideBar button:hover #learner {
    content: url("../img/learnerHover.png")
}


#SubSideBar button:hover {
    background-color: #160E4D;
    color: #f4f4f4;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    width: 270px;
}
#SubSideBar button:hover p {
    background-color: #160E4D;
    border-radius: 20px ;
}
.ActiveLink #dashboard {
    content: url("../img/dashboardHover.png")
}
.ActiveLink #manageCourse {
    content: url("../img/manageCourseHover.png")
}
.ActiveLink #announce {
    content: url("../img/announceHover.png")
}
.ActiveLink #profile {
    content: url("../img/profileHover.png")
}
/*_______Addition for Admin______*/
.ActiveLink #instructor {
    content: url("../img/instrHover.png")
}
.ActiveLink #learner {
    content: url("../img/learnerHover.png")
}



#SubSideBar .ActiveLink button p {
    border-radius: 20px;
    background-color: #160E4D;
}
#SubSideBar .ActiveLink button{    
    background-color: #160E4D;
    color: #f4f4f4;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    width: 270px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
li {
    /* display: box; */
    list-style-type: none;
}
#SubSideBar li img {
    display: inline-block;
    align-items: center;
    vertical-align: center;
    position: absolute;
    margin-left: 15px;
}
#SubSideBar p {
    margin-left: 75px;  
}
#SubSideBar .insSideBarLink p {
    background-color: #f4f4f4;  ;
}
#SubSideBar #dashboard {
    margin-top: 5px;
}
#SubSideBar #profile {
    margin-top: 5px;
}
#SubSideBar #instructor {
    margin-top: 3px;
}
#SubSideBar #manageCourse {
    margin-top: 3px;
}
#SubSideBar #learner {
    margin-top: 3px;
}
#SubSideBar #announce {
    margin-top: 3px;
}
#SideBar button{
    display: flex;
    text-align: center;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 45px;
    font-style: normal;
    font-weight: bold;
}
#footer {
    margin-top: 100px;
}
#SubSideBar .insSideBarLink {
    text-decoration: none;
}
#footerIns {
    position: relative;
    margin-top: 225px;
}
#footerad {
    margin-top: 225px;
}