/*_______Addition for Learner______*/
#SubSideBar button:hover #mycourses {
    content: url("../img/myCoursesHover.png")
}
#SubSideBar button:hover #readtutorial {
    content: url("../img/readTutorialHover.png")
}
#SubSideBar button:hover #readnotes {
    content: url("../img/readNotesHover.png")
}
#SubSideBar button:hover #takequiz {
    content: url("../img/takeQuizHover.png")
}
/*_______Addition for Learner______*/
.ActiveLink #mycourses {
    content: url("../img/myCoursesHover.png")
}
.ActiveLink #readtutorial {
    content: url("../img/readTutorialHover.png")
}
.ActiveLink #readnotes {
    content: url("../img/readNotesHover.png")
}
.ActiveLink #takequiz {
    content: url("../img/takeQuizHover.png")
}
#SubSideBar #mycourses 
{
    margin-top: 4px;
}
#SubSideBar #readtutorial 
{
    margin-top: 4px;
}
#SubSideBar #readnotes
{
    margin-top: 4px;
}
#SubSideBar #takequiz
{
    margin-top: 4px;
}
