/*_____________SideBar_____________*/
#Logo {
    width: 325px;
    height: 115px;
    cursor: pointer;
}
  
#SubSideBar {
    list-style-position: inside;
    padding-left: 0px;
}
#SubSideBar li button:hover #dashboard {
    content: url("../img/dashboardHover.png")
}
#SubSideBar li button:hover #manageCourse {
    content: url("../img/manageCourseHover.png")
}
#SubSideBar li button:hover #annouce {
    content: url("../img/annouceHover.png")
}
#SubSideBar li button:hover #profile {
    content: url("../img/profileHover.png")
}
#SubSideBar li button:hover {
    background-color: #160E4D;
    color: #f4f4f4;
    border-radius: 20px;  
}
  
#SubSideBar li {
    display: box;
    list-style-type: none;
}
#SubSideBar img {
    display: inline-block;
    align-items: center;
    vertical-align: center;
    position: absolute;
    left: 30px;
}
#SubSideBar p {
    margin-left: 70px;
}
#SubSideBar li button{
    text-align: center;
    cursor: pointer;
    border: none;
    box-sizing: border-box;    
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    width: 325px;
    background-color: #f4f4f4;
    font-style: normal;
    font-weight: bold;
    color: #160E4D;
}
button p{
    margin-left: 15px;
    display: inline-block;
}
#SideBar {
    width: 325px;
    height: 100vh;
    background-color: #f4f4f4;
}
#footer {
    display: inline-block;
    margin-top: 200px;
    margin-left: 0px;
}