/*_____________SideBar_____________*/
#SideBar {
    position: fixed;
    margin-top: 120px;
    width: 325px;
    height: 100vh;
    background-color: #f4f4f4;
}


.sbcomponent button:hover #dashboard {
    content: url("../img/dashboardHover.png")
}
.sbcomponent button:hover #manageCourse {
    content: url("../img/manageCourseHover.png")
}
.sbcomponent button:hover #annouce {
    content: url("../img/annouceHover.png")
}
.sbcomponent button:hover #profile {
    content: url("../img/profileHover.png")
}
.sbcomponent button:hover {
    background-color: #160E4D;
    color: #f4f4f4;
    border-radius: 20px;
    width: 325px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sbcomponent-active button{
    background-color: #160E4D;
    color: #f4f4f4;
    border-radius: 20px;    
    font-size: 24px;
    line-height: 45px;
    width: 325px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
li {
    /* display: box; */
    list-style-type: none;
}

.sbcomponent-active #dashboard {
    content: url("../img/dashboardHover.png")
}
.sbcomponent-active #manageCourse {
    content: url("../img/manageCourseHover.png")
}
.sbcomponent-active #annouce {
    content: url("../img/annouceHover.png")
}
.sbcomponent-active #profile {
    content: url("../img/profileHover.png")
}
li img {
    display: inline-block;
    align-items: center;
    vertical-align: center;
    position: absolute;
    margin-left: 15px;
}
#SubSideBar p {
    margin-left: 80px;
}
#dashboard {
    margin-top: 4px;
}
#profile {
    margin-top: 3px;
}
button{
    display: flex;
    text-align: center;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 45px;
    font-style: normal;
    font-weight: bold;
}
#footer {
    display: inline-block;
    margin-top: 200px;
    margin-left: 0px;
}