.new-announ #newannounbutton {
    position: absolute;
    display: block;
    right: 2%;
    bottom: 3%;
    z-index: 3;
    cursor: pointer;
}

.new-announ #newannounbutton:hover {
    transform: scale(1.1);
}

/*    Control Box show up or close     */
.new-announ .boxbox {
    display: none;
}

.new-announ .boxbox.show-up {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 5;
}

.new-announ .boxbox.show-up .new-announ-modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.new-announ .boxbox.show-up .new-announ-modal-body {
    position: relative;
    top: 22vh;
    z-index: 2;
    background-color: #58baab;
    border: 1px solid black;
    width: 900px;
    height: 500px;
    position: relative;
    left: 450px;
    bottom: 610px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}
/*______________________________________*/

.new-announ #New-Announ-Box #close-button {
    position: absolute;
    font-size: 18px;
    padding: 3px;
    top: 7px;
    right: 10px;
    cursor: pointer;
}

.new-announ #New-Announ-Box #close-button:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.new-announ #New-Announ-Box #tick-box {
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: left;
}

.new-announ #New-Announ-Box #tick-box #tick-box-top {
    display: flex;
}

.new-announ #New-Announ-Box #tick-box #tick-box-top #tick-box-top-inside {
    margin: 10px 40px 10px 5px;
}

.new-announ #New-Announ-Box #tick-box #tick-box-bottom {
    margin: 0px 0px 5px 5px;
    display: flex;
}

.new-announ #New-Announ-Box #tick-box #tick-box-bottom #hihaho {
    margin-right: 20px;
}

.new-announ #New-Announ-Box #tick-box #tick-box-bottom #input-receiver {
    width: 725px;
    border: 0px solid;
    font-size: 18px;
    padding-left: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.new-announ #New-Announ-Box #send-button {
    position: absolute;
    right: 35px;
    top: 410px;
    cursor: pointer;
}

.new-announ #New-Announ-Box #send-button:hover {
    transform: scale(1.1);
}

/*     Text Editor     */
.new-announ #New-Announ-Box .text-editor {
    background-color: white;
    width: 850px;
    height: 385px;
    border: 1px solid black;
    padding: 10px 20px 0px 20px;
    list-style: none;
    text-align: center;
    display: inline-block;
}
