#admincourse {
    margin-top: 20vh;
    margin-left: 18vw;
    width: 80vw;
    position: relative;
}

#admincourse #courseinad {
    display: inline-block;
    width: 100%;
    height: 71vh;
}

/* ----------courseCFY--------- */
#admincourse #courseCFY {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* Link */
.link-to-course {
    text-decoration: none;
}

/* -----------CourseContent---------- */
#admincourse #courseContent {
    margin-top: -5px;
}
#admincourse #courseContent #Name {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
}
#admincourse #courseContent #Desc {
    font-size: 16px;

    width: 100%;
}
#admincourse #courseContent #Desc p {
    width: 100%;
    padding: 2px;
}
#admincourse #courseContent #Author {
    color: rgba(196, 196, 196, 1);
    font-size: 16px;
}

/* ------Task-------- */

#CourseInformation #below {
    font-size: 20px;
    margin-left: 260px;
    margin-top: 300px;
}

#CourseInformation #below .user-in-course {
    border: 1px solid black;
    width: 800px;
    margin: 10px 0px 10px 50px;
}

#CourseInformation #below #green {
    background-color: #58baab;
    padding: 3px 0px 3px 12px;
    display: flex;
    position: relative;
}

#CourseInformation #below #name {
    display: flex;
    padding-left: 12px;
    margin-top: 5px;
    margin-bottom: 8px;
}
#CourseInformation #below #name-of {
    padding-left: 20px;
}

#CourseInformation #below #name-of:hover {
    text-decoration-line: underline;
}

#CourseInformation #deletecourse {
    position: absolute;
    top: 225px;
    right: 40px;
    line-height: 35px;
    padding: 5px;
    display: flex;
    vertical-align: middle;
}

#CourseInformation #deletecourse:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#CourseInformation #deletecourse .textdelete {
    font-size: 18px;
    color: red;
    font-style: italic;
    margin-left: 10px;
}
