/*File css này dùng cho cả Manage Instructor và Learner*/

/*______________________________*/

#admininstruc {
    margin-top: 150px;
    margin-left: 310px;
    background-image: url("../image/Background.png");
}
#adminlearner {
    margin-top: 150px;
    margin-left: 310px;
    background-image: url("../image/Background.png");
}

#tableinstruc {
    font-size: 20px;
    margin-bottom: 30px;
    margin-right: 23px;
    border: 1px solid black;
}

#admininstruc-UI #tableinstruc {
    height: 480px;
}
/*______________________________________________________*/
.paginationBttns {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a {
    padding: 0px 3px 0px 3px;
    margin-top: 20px;
    margin: 2px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

.paginationBttns a:hover {
    color: white;
    background-color: #98c3bb;
}

.paginationActive a {
    color: white;
    background-color: #98c3bb;
}

.paginationDisabled a {
    color: white;
    background-color: #98c3bb;
}
