/*File css này dùng cho cả Manage Instructor và Learner*/
#searchInstruc {
    margin-top: 150px;
    margin-left: 310px;
    padding: 5px 5px 5px 80px;
    width: 1200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 15px 15px 0px 0px;
    -webkit-right-radius: 15px 15px 0px 0px;
    position: relative;
}

#searchInstruc #searchNIC-label {
    font-size: 18px;
}

#searchInstruc #searchNIC {
    font-size: 18px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 50px;
    size: 32px;
    width: 250px;
    height: 30px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    padding-left: 15px;
}

#searchInstruc #searchInsIcon {
    position: absolute;
    top: 13px;
    right: 20px;
    cursor: pointer;
}
/*______________________________*/

#admininstruc {
    background-image: url("../image/Background.png");
}
#adminlearner {
    background-image: url("../image/Background.png");
}

#tableinstruc {
    font-size: 20px;
    margin-left: 310px;
    margin-bottom: 30px;
    margin-right: 23px;
    text-align: center;
    border: 1px solid black;
}

#admininstruc-UI #tableinstruc {
    height: 480px;
}

#adminlearner-UI #tableinstruc {
    height: 480px;
}

/*_____display: flex là làm cho các block trong cùng một block lớn thẳng hàng_____*/
#tableinstruc #titletable {
    border-bottom: 2px solid black;
    display: flex;
}

#tableinstruc .tablecpn {
    display: flex;
}

#tablecomponent {
    display: flex;
}

#tableinstruc div p {
    width: 200px;
    padding: 14px;
}

#moreInfo {
    width: 200px;
    padding-top: 17px;
}
#disqualify {
    width: 200px;
    padding-top: 10px;
}
#delete {
    width: 200px;
    padding-top: 10px;
}
#grantpms {
    width: 200px;
    padding-top: 10px;
}

#moreIcon {
    cursor: pointer;
}
#moreIcon:hover {
    width: 125px;
}

#disIcon {
    cursor: pointer;
}
#disIcon:hover {
    width: 38px;
}

#delIcon {
    cursor: pointer;
}
#delIcon:hover {
    width: 38px;
}

#grantIcon {
    cursor: pointer;
}
#grantIcon:hover {
    width: 38px;
}

/*______________________________________________________*/
.paginationBttns {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a {
    padding: 0px 3px 0px 3px;
    margin-top: 20px;
    margin: 2px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

.paginationBttns a:hover {
    color: white;
    background-color: #98c3bb;
}

.paginationActive a {
    color: white;
    background-color: #98c3bb;
}

.paginationDisabled a {
    color: white;
    background-color: #98c3bb;
}
