#searchTable {
    padding: 5px 5px 5px 80px;
    height: 50px;
    border: 1px solid black;
    border-radius: 15px 15px 0px 0px;
    -webkit-right-radius: 15px 15px 0px 0px;
    position: relative;
    width: 1200px;
}

#searchNIC {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 50px;
    size: 32px;
    width: 250px;
    height: 30px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    padding-left: 15px;
}

#searchInsIcon {
    position: absolute;
    top: 13px;
    right: 20px;
    cursor: pointer;
}
/*______________________________*/

#tableinstruc {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid black;
    width: 1200px;
}

/*_____display: flex là làm cho các block trong cùng một block lớn thẳng hàng_____*/
#tableinstruc #titletable {
    border-bottom: 2px solid black;
    display: flex;
}

#titletable .tt-userName,
#titletable .tt-FN,
#titletable .tt-LN,
#titletable .tt-moreIcon,
#titletable .tt-delIcon {
    width: 180px;
    padding-top: 14px;
    padding-bottom: 14px;
}

#titletable .tt-email {
    width: 300px;
    padding-top: 14px;
    padding-bottom: 14px;
}

#tableinstruc .tablecpn {
    display: flex;
}

#detailCpn {
    display: flex;
}

#detailCpn #userName,
#detailCpn #FN,
#detailCpn #LN {
    width: 180px;
    padding: 14px;
}

#detailCpn #email {
    width: 300px;
    padding: 14px;
}

#moreInfo {
    width: 180px;
    padding-top: 17px;
}
#delete {
    width: 180px;
    padding-top: 10px;
}

#moreIcon {
    cursor: pointer;
}
#moreIcon:hover {
    width: 125px;
}

#delIcon {
    cursor: pointer;
}
#delIcon:hover {
    width: 38px;
}

/*______________________________________________________*/
.paginationBttns {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a {
    padding: 0px 3px 0px 3px;
    margin-top: 20px;
    margin: 2px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

.paginationBttns a:hover {
    color: white;
    background-color: #98c3bb;
}

.paginationActive a {
    color: white;
    background-color: #98c3bb;
}

.paginationDisabled a {
    color: white;
    background-color: #98c3bb;
}
