#inner-course {
    position: absolute;    
}
#inner-course #row-1 {
    display: inline-block;
    margin-left: 300px;
    margin-top: 125px;
    width: 1225px;
    height: auto;
}


#inner-course #row-1 #rateContent {
    margin-top: 0px;
}
#inner-course #Category {
    padding-top: 3px !important;
}

#inner-course #row-1 #rateContent #p2 {
    font-size: 14px;
}

#inner-course #row-1 #rateContent #p4 {
    font-size: 14px;
}
/* -----------CourseContent---------- */
#inner-course #row-1 #courseContent #Name{
    font-size: 20px;
}
#inner-course #row-1 #courseContent #Desc{
    font-size: 16px;
}
#inner-course #row-1 #courseContent #Author{
    font-size: 16px;
}
/* ----------courseCFY--------- */
#inner-course #row-1 {
    display: flex;
}



#inner-course #row-2 #col-1 {
    width: 800px;
    height: 425px;
    margin-left: 300px;
    padding-left: 10px;
}

#inner-course #row-2 {
    display: flex;
}
#inner-course #row-2 #col-1 #title-name {
    display: flex;
}
#inner-course #row-2 #col-1 p {
    font-size: 26px;
}
#inner-course #row-2 #col-1 #linkToVideoDetail, #inner-course #row-2 #col-1 #linkToAddNewVideo {
    text-decoration: none;
    margin-left: 125px;
    font-size: 26px;
}

#inner-course #row-2 #other-action {
    border: 2px solid #3FBB8C;
    width: 350px;
    height: 225px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 60px;
}

#inner-course #row-2 #other-action #head {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
#inner-course #row-2 #other-action #head #action-title {
    font-size: 32px;
    text-align: center;
    display: inline-block;
}

#inner-course #row-2 #other-action .text-action {
    margin-left: 30px;
    font-size: 24px;
    display: inline-block;
}
#inner-course #row-2 #other-action .link-action {
    text-decoration: none;
    color: black;
}
#inner-course #row-2 #other-action #first-act,
#inner-course #row-2 #other-action #second-act,
#inner-course #row-2 #other-action #third-act {
    line-height: 60px;
    display: flex;
    vertical-align: middle;
    margin-left: 20px;
}
#inner-course #row-2 #other-action #third-act {
    margin-left: 25px;
    cursor: pointer;
}
#inner-course #row-2 #other-action #third-act p{
    margin-left: 35px;
}