#insdb #getStarted:hover {
    background-color: #c4c4c4;
    color: #f4f4f4;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
}
#insdb #titleFun {
    color: #f4f4f4;
    text-align: left;
    padding-left: 200px;
    font-weight: bold;
    font-size: 30px;
}
#insdb #descript {
    color: #f4f4f4;
    text-align: left;
    padding-left: 200px;
    padding-right: 10px;
    font-size: 18px;
}
#insdb #btn {
    padding-left: 100px;
}
#insdb #getStarted {
    margin-top: 10px;
    width: 120px;
    height: 40px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: #f4f4f4;
    -webkit-border-radius: 20px;
    border-radius: 25px;
}
#insdb #bground {
    background-image: url("../imgSrc/About.png");
    background-position: right top;
    display: inline-block;
    text-align: center;
    margin-top: 120px;
    margin-left: 300px;
    width: 770px;
    height: 180px;
    background-size: cover;
    padding-top: 40px;
}

/* Calendar */
#insdb {
    display: flex;
}

/* Statistics */
#insdb #statisticDb {
    text-align: center;
    display: inline-block;
    font-size: 22px;
    width: 400px;
    height: 400px;
    background: rgba(88, 186, 171, 0.3);
    border-radius: 25px;
    margin-left: 300px;
    margin-top: 10px;
}
#insdb #textStatistic {
    font-size: 36px;
    font-weight: bold;
    color: black;
}
#insdb #statisticDb p {
    color: #f4f4f4;
}

#insdb #botStatistic div{
    margin-top: 20px;
    width: 180px;
    height: 150px;
}
#insdb #videoStatistic {
    background-color: #FF7878;
    border-radius: 20px;
    float: left;
    text-align: center;
    margin-left: 10px;
}
#insdb #courseStatistic {
    background-color: #3FBB8C;
    border-radius: 20px;
    float: left;
    text-align: center;
    margin-left: 20px;
}
#insdb #learnerStatistic {
    margin-top: 10px;
    display: inline-block;
    width: 380px;
    height: 150px;
    background: #A2D2FF;
    border-radius: 20px;
}
#insdb #statisticDb img {
    margin-top: 5px;
}


#insdb #mycourse {
    border: 2px solid #3FBB8C;
    width: 350px;
    height: 400px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

#insdb #mycourse #head {
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}
#insdb #mycourse #my-c-list {
    font-size: 24px;
    padding-top: 20px;
}
#insdb #mycourse #my-c-list {
    display: inline-block;
    padding-left: 20px;
}
#insdb #my-c-list p {
    padding-left: 20px;
    padding-top: 15px;
}
#insdb #my-c-list #first-c {
    display: inline-block;
}
#insdb #my-c-list #second-c {
    display: inline-block;
    padding-top: 20px;
}
#insdb #my-c-list img {
    float: left;
}
#insdb #my-c-list p {
    float: right;
}
#insdb #head #my-c-title {
    float: left;
    text-align: center;
    font-weight: bold;
}
#insdb #head #my-c-viewall {
    padding-right: 20px;
    float: right;
    text-align: center;
    color: #160E4D;
    cursor: pointer;
    text-decoration: underline;
}

#insdb  .container .title {
    font-size: 1.4em;
    font-weight: 300;
}

#insdb  .bar-group {
    text-align: center;
}
#insdb  .colValue {
    font-size: 14px;
    font-weight:bold;
}

#insdb  .bar-group .value-label {
    text-anchor: end;
    font-Weight: 900;
    font-size: 0.7em;
  }

#insdb  .bar-group .name-label {
    font-size: 14px;
    fill: #000;
    font-weight: bold;
  }
  
#insdb  .container .bar-group {
    transition: opacity 0.3s;
  }

#insdb  .container .title {
    font-size: 28px;
    font-weight: bold;
    fill: #000;
  }
  
  /* Fade bars when the chart is hovered */
#insdb  .container:hover .bar-group {
    opacity: 0.3;
  }
  
  /* But don't fade the hovered bar... */
#insdb  .container .bar-group:hover {
    opacity: 1;
  }
  
#insdb .container .bar-group:hover .name-label {
    font-weight: bold;
    font-size: 14px;
  }
  
#insdb  .container .bar-group:hover .value-label {
    font-size: 10px;
    fill: #fff;
  }
#insdb #WSH{
    margin-left: 720px;
    background-color:#00816ede;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    width: 350px;
    height: 400px;
    margin-top: -400px;
}
#insdb #col2{
    margin-right: 0px;
    margin-left: 70px;
}
#insdb #col2 .react-calendar{
    margin-left: 10px;
    margin-right: 0px;
}