#table-learner #row-1 {
    display: inline-block;
    margin-left: 275px;
    margin-top: 125px;
    width: 1225px;
    height: auto;
}

#table-learner #row-1 #rateContent #p1 {
    font-size: 14px;
}
#table-learner #row-1 #rateContent #p2 {
    font-size: 14px;
}
#table-learner #row-1 #rateContent #p4 {
    font-size: 14px;
}
#table-learner #row-1 #courseContent {
    width: 70%;
}
#table-learner #row-1 #courseContent #Name{
    font-size: 18px;
}
#table-learner #row-1 #courseContent #Desc{
    font-size: 14px;
}
#table-learner #row-1 #courseContent #Author{
    font-size: 14px;
}



#table-learner #row-2 #searchTable{
    margin-top: 10px;
    margin-left: 280px;
}
#table-learner #row-2 #tableinstruc {
    margin-left: 280px;
    margin-bottom: 10px;
    height: 380px;
}
#table-learner #row-2 label {
    font-size: 24px;
}