.Cases-error{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 20px;
}

.headerError{
    margin-right: 2%;
    font-size: 40px;
}

.Cases-error #msg-err {
    color: red;
    font-size: 32px;
}