#HeaderLn {
    background-color: #f4f4f4;
    position: fixed;
    align-items: center;
    z-index: 999;
    height: 120px;
    display: flex;
    width: 100%;
}
#HeaderLn #Logo {
    background-color: #f4f4f4;
    width: 270px;
    cursor: pointer;
    position: relative;
    margin-top: 0px;
}

/* SEARCH BAR */
#SearchBar {
    margin-top: 20px;
    padding-left: 40px;
}
#Input {
    size: 32;
    width: 425px;
    height: 40px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    border-color: black;
    padding-left: 15px;
}
#searchIcon {
    position: absolute;
    margin-top: 8px;
    margin-left: -40px;
    cursor: pointer;
}
/* Arrow */
#HeaderLn #arrow-btn {
    right: 0px;
}
#HeaderLn #arrow img {
    margin-left: 20px;
}
#avatar img {
    display: inline-block;
    margin-right: 20px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    cursor: pointer;
}
#HeaderLn #arrow img {
    margin-top: 20px;
    cursor: pointer;
}
#HeaderLn #arrowClose {
    transform: rotate(180deg);
}
/* INFORMATION USER */
#information {
    position: relative;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 0px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    display: flex;
    border: 1px solid black;
    padding: 5px;
}
#information #inform {
    margin-right: 10px;
}

#information h3 {
    color: black;
    cursor: pointer;
    font-size: 20px;
}
#information p {
    font-size: 14px;
}

#information #linkName {
    text-decoration: none;
}
/* Bell Message */
#HeaderLn #bellMessage {
    display: flex;
}
#HeaderLn #bellMessage #bell {
    height: 50px;
    width: 50px;
    margin-left: 340px;
}
#HeaderLn #bellMessage #bell .bellImg {
    margin: 5px;
}
#HeaderLn #bellMessage #message {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}
#HeaderLn #bellMessage #message .messageImg {
    margin: 7.5px;
}









/* Switch */
.nav-link {
    display: none;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    height: 100%;
    color: #000;
    cursor: pointer;
}
.nav-link2 {
    display: none;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    height: 60px;
    color: #000;
    cursor: pointer;
}
.nav-link3 {
    display: none;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    height: 100%;
    color: #000;
    cursor: pointer;
}
.nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
}
.nav-menu.active .nav-link {
    display: flex;
    background-color: #f4f4f4;
}
.nav-menu.active .nav-link2 {
    display: flex;
    background-color: #f4f4f4;
}
.nav-menu.active .nav-link3 {
    display: flex;
    background-color: #f4f4f4;
}
.nav-menu.active #roleLnTA .nav-link2 {
    display: none;
}
.nav-menu.active #roleLn .nav-link3 {
    display: none;
}
.nav-item {
    height: 60px;
    font-size: 24px;
    white-space: 20px;
}
.nav-link:hover {
    border-bottom: 4px solid #242222;
    transition: all 0.2s ease-out;
}
 .nav-link2:hover {
    border-bottom: 4px solid #242222;
    transition: all 0.2s ease-out;
}
.nav-link3:hover {
    border-bottom: 4px solid #242222;
    transition: all 0.2s ease-out;
}
.nav-menu.active {
    display:block;
    margin-top: 30px;
    background: white;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;    
}
/* Notication */
#HeaderLn .HasNoti #numOfNoti {
    width: 15px;
    height: 15px;
    background-color: red;
    font-size: 10px;
    border-radius: 7.5px;
    color: #fff;
    position: relative;
    padding-left: 3px;
    top:-45px;
    left: 30px;
    border: 1px solid #000;
}
#HeaderLn .NoNoti #numOfNoti {
    display: none;
}
#HeaderLn .HasNoti, .NoNoti  {
    width: 15px;
    height: 15px;
}
#HeaderLn #bell-btn #nav-item-noti {
    width: 200px;
    height: 600px;
}
.nav-menu-noti {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100px;
    position: absolute;
}
.nav-menu-noti .active .nav-link {
    display: flex;
    background-color: #f4f4f4;
}
.nav-item-noti {
    height: 340px;
    width: 350px;
    padding-left: 25px;
    border: 1px solid #c4c4c4;
    background-color: #fff;
}
.nav-item-noti p {
    width: 300px;
    font-size: 14px;
    height: 40px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    border-bottom: 1px solid #000;
}
.nav-item-noti #titleNoti {
    width: 300px;
    font-size: 14px;
    padding-right: 25px;
    height: 20px;
    font-weight: bold;
    border-bottom: 3px solid #000;
    margin-top: 5px;
}
.nav-menu-noti.active {
    display:block;
    background: white;
    opacity: 1;
    transition: all 0.5s ease;
    height: 340px;
    width: 350px;
    left: 730px;
    top: 80px;
}
#HeaderLn #bellBtn {
    height: 40px
}
#HeaderLn #listContentNoti {
    height: 300px;
}

/* Notification */
#HeaderLn #message-btn #nav-item-ms {
    width: 200px;
    height: 600px;
}
.nav-menu-ms {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100px;
    position: absolute;
}
.nav-item-ms {
    height: 590px;
    width: 390px;
    padding-left: 25px;
    border: 1px solid #c4c4c4;
    background-color: #fff;
}
.nav-item-ms p {
    width: 340px;
    font-size: 14px;
    height: 40px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    border-bottom: 1px solid #000;
}
.nav-item-ms #titleNoti-ms {
    display: inline-block;
    font-size: 14px;
    height: 20px;
    font-weight: bold;
    border-bottom: 3px solid #000;
    margin-top: 5px;
}
.nav-menu-ms.active {
    display:block;
    background: white;
    opacity: 1;
    transition: all 0.5s ease;
    height: 590px;
    width: 350px;
    left:1140px;
    top: 120px;
}
#HeaderLn #messageBtn {
    height: 40px
}
#HeaderLn #listContentNoti-ms {
    height: 300px;
    width: 360px;
}
#HeaderLn #listContentNoti-ms p{
    width: 340px;
}
/* Search Message */
#SearchBarMs {
    margin-top: 20px;
    padding-left: 40px;
}
#searchBarMsMc {
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-item-ms #Input {
    size: 32;
    width: 340px;
    height: 40px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    border-color: black;
    padding-left: 15px;
}
#searchIcon {
    position: absolute;
    margin-top: 8px;
    margin-left: -40px;
    cursor: pointer;
}
#HeaderLn #sendMessage {
    margin-top: 10px;
    border-top: 2px solid black;
    width: 340px;
}
#HeaderLn #sendMessage #toUser{
    font-size: 14px;
    font-weight: bold;
}
#HeaderLn #sendMessage #sendToUser{
    font-size: 14px;
}
#HeaderLn #sendMessage #content {
    width: 340px;
    height: 100px;
    margin-top:5px;
}
#HeaderLn #sendMessage #iconSend {
    margin-top:5px;
    width: 35px;
    height: 35px;
}
#HeaderLn #sendMessage #iconSend img{
    cursor: pointer;
    padding-left: 7.5px;
    padding-top: 7.5px;
}
#HeaderLn #sendMessage #iconSend:hover {
    margin-top:5px;
    width: 35px;
    height: 35px;
    background-color: #c4c4c4;
    border-radius: 17.5px;
    -webkit-border-radius: 17.5px;
}
