.Formcolumn {
    width:100%;
    padding-left: 5%;
}
@media (min-width: 48em) {
    .Formcolumn {
    width: 50%;
    float:left;
    }
    .Formcolumns {
    content: "";
    display: table;
    clear: both;
    }
}
#FormPushCV {
  margin-top: 5%;
  margin-left: 5%;
  border: 1px dashed rgb(196, 189, 189);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  height: 60%;
  width: 90%;
}
/* Customize the label (the container) */
.Formcontainer {
    display: flex;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    height: 50px;
    border: 1px solid #000;
}
.Formcontainer input {
    height: 30px;
    width: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.Formcontainer label {
    height: 30px;
    margin-top: 12px;
    margin-left: 10px;
}

  
  /* Hide the browser's default radio button */

  
#FormSelection {
    padding: 20px;
    
}
  /* Create a custom radio button */
.Formcheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}
  
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
.Formcheckmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
  /* Show the indicator (dot/circle) when checked */
.Formcontainer input:checked ~ .Formcheckmark:after {
    display: block;
}
  
  /* Style the indicator (dot/circle) */
.Formcontainer .Formcheckmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.Formques {
      margin-top: 10px;
      font-size: 20px;
      font-weight: bold;
}
.FormquesBox {
      margin-top: 70px;
      font-size: 20px;
      font-weight: bold;
}
.Formupload {
    height: 200px;
    width: 600px;
    border-radius: 20px;
    border: 1px solid rgb(196, 189, 189);
    margin-top: 20px;
}
.Formupload p {
    padding-top: 5px;
    padding-left: 15px;
}
.Formcolumns  .Formupload2 {
    width: 60%;
    height: 100px;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 20px;
    padding: 20px;
}
.Formupload2Confirm {
    display: flex;
    padding-left: 50px;
    padding-top: 10px;
}
.Formupload2Confirm #checkBox{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
 #confirmTxt {
    font-size: 20px;
    padding-left: 10px;
}
.Formupload2Container {
    display: block;
    text-align: center;

}
 .FormSignupbtn-box {
    display: flex;
    padding-left: 200px;
    padding-top: 20px;
}
 .FormSignupbtn-box #submitFormBtn {
    margin-left: 200px;
    height: 40px;
    width: 80px;
    background-color: #1D8676;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
    cursor: pointer;
}
 .FormSignupbtn-box #exitFormBtn {
    height: 40px;
    width: 80px;
    background-color: #fff;
    color: #1D8676;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
    border: 1px solid #1D8676;
    cursor: pointer;
}
.Link-coursename{
  text-decoration: none;
}