/* #inner-course {
    display: inline-block;
} */
#inner-course #row-1 {
    display: inline-block;
    margin-left: 300px;
    margin-top: 125px;
    width: 1225px;
    height: auto;
}

#inner-course #row-1 #coursesCFY {
    background-color: rgba(88, 186, 171, 0.5);
    display: inline-block;
    margin-top: 10px;
    margin-left: 325px;
    width: 700px;
    height: 200px;
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    border-style: solid;
    border-color: #c4c4c4;
    border-width: 2px;
}
#inner-course #row-1 #titleCFY {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 2px;
}
#inner-course #row-1 #listCoursesCFY {
    background-color:white;
    width: 710x;
    margin-left: 15px;
    margin-right: 15px;
    height: 355px;
}
/* ------RateContent-------- */
#inner-course #row-1 #rateContent {
    display: flex;
    margin-top: 5px;
}
#inner-course #row-1 #rateContent #p1 {
    width: 90px;
    height: 30px;
    font-size: 14px;
    text-align: center;
}


#inner-course #row-1 #rateContent #p1 p {
    margin-top: 5px;
}
#inner-course #row-1 #rateContent #p2 {
    color: rgba(255,217,2,0.7);
    height: 30px;
    width: 30px;
    font-size: 14px;
    text-align: center;
    margin-left: 10px;
}
#inner-course #row-1 #rateContent #p2 p {
    margin-top: 5px;
}
#inner-course #row-1 #rateContent #p3 {
    margin-top: 5px;
    margin-left: 10px;
}
#inner-course #row-1 #rateContent #p4 {
    color: rgba(196,196,196,1);
    height: 30px;
    width: 60px;
    font-size: 14px;
    text-align: center;
    margin-left: 10px;
}
#inner-course #row-1 #rateContent #p4 p {
    margin-top: 5px;
}
/* -----------CourseContent---------- */
#inner-course #row-1 #courseContent {
    width: 70%;
}
#inner-course #row-1 #courseContent #Name{
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
}
#inner-course #row-1 #courseContent #Desc{
    font-size: 14px;
}
#inner-course #row-1 #courseContent #Author{
    color: rgba(196,196,196,1);
    font-size: 14px;
}
/* ----------courseCFY--------- */
#inner-course #row-1 #courseCFY {
    display: flex;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
    position: relative;
}
#inner-course #row-1 #courseContent {
    padding-left: 10px;
}
#inner-course #row-1 {
    display: flex;
}

/* Link */
.link-to-course {
    text-decoration: none;
}



#inner-course #row-2 #col-1 {
    width: 800px;
    height: 425px;
    margin-left: 300px;
    padding-left: 10px;
}

#inner-course #row-2 #col-1 .name-section-cpn {
    font-size: 32px;
    font-weight: bold;
    display: inline-block;
    width: 125px;
}

#inner-course #row-2 #col-1 .subsection-cpn {
    display: inline-block;
    font-size: 20px;
    width: 350px;
    margin-top: 10px;
    padding-left: 20px;
}

#inner-course #row-2 #col-1 #name-section {
    display: flex;
}
#inner-course #row-2 #col-1 .subsection-contain {
    display: flex;
}
#inner-course #row-2 #col-1 img {
    margin-left: 20px;
}
#inner-course #row-2 #col-1 .section-cpn {
    margin-top: 20px;
}
#inner-course #row-2 #col-1 .subsection-contain img {
    margin-top: 10px;
}
#inner-course #row-2 #col-1 img {
    cursor: pointer;
}
