/* #insdb p {
    margin-left: 350px;
    color: black;
    margin-top: 100px;
} */
#insdb #getStarted:hover {
    background-color: #160E4D;
    color: #f4f4f4;
}
#insdb #titleFun {
    color: #f4f4f4;
    text-align: left;
    padding-left: 200px;
    font-weight: bold;
    font-size: 30px;
}
#insdb #descript {
    color: #f4f4f4;
    text-align: left;
    padding-left: 200px;
    padding-right: 10px;
    font-size: 18px;
}
#insdb #btn {
    padding-left: 100px;
}
#insdb #getStarted {
    margin-top: 10px;
    width: 120px;
    height: 40px;
    font-size: 18px;
    border-color: black;
    border-width: 2px;
    cursor: pointer;
    background-color: #f4f4f4;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
#insdb #bground {
    background-image: url("../imgSrc/about.png");
    background-position: right top;
    display: inline-block;
    text-align: center;
    margin-top: 120px;
    margin-left: 325px;
    width: 740px;
    height: 180px;
    background-size: cover;
    padding-top: 40px;
}

/* Calendar */


/* Statistics */
#insdb #statisticDb {
    text-align: center;
    display: inline-block;
    width: 400px;
    height: 400px;
    background: rgba(88, 186, 171, 0.3);
    border-radius: 25px;
    margin-left: 325px;
    margin-top: 10px;
}
#insdb #textStatistic {
    font-size: 28px;
    font-weight: bold;
    color: black;
}
#insdb #statisticDb p {
    color: #f4f4f4;
}

#insdb #botStatistic div{
    width: 200px;
    height: 150px;
}
#insdb #videoStatistic {
    float: left;
    text-align: center;
}
#insdb #courseStatistic {
    float: left;
    text-align: center;
}
#insdb #learnerStatistic {
    display: inline-block;
    width: 320px;
    height: 150px;
    background: #A2D2FF;
    border-radius: 20px;
}