/* #insdb p {
    margin-left: 350px;
    color: black;
    margin-top: 100px;
} */
#insdb #titleFun {
    font-size: 36px;
}

#insdb p {
    color: #f4f4f4;
    text-align: left;
    padding-left: 325px;
    font-weight: bold;
}
#insdb #btn {
    padding-left: 100px;
}
#insdb #getStarted {
    margin-top: 25px;
    width: 150px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background-color: #f4f4f4;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
#insdb #bground {
    padding-top: 125px;
    background-image: url("../imgSrc/About.png");
    background-position: right top;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    margin-left: 325px;
    width: 840px;
    height: 366px;
}