/*_______Addition for Learner______*/
/*_____________SideBar_____________*/
#SideBarLn {
    position: fixed;
    width: 270px;
    height: 100vh;
    background-color: #f4f4f4;
    margin-top: 120px;
    z-index: 999;
}
#SideBarLn #SubSideBar button:hover #dashboard {
    content: url("../../../img/dashboardHover.png")
}
#SideBarLn #SubSideBar button:hover #manageCourse {
    content: url("../../../img/manageCourseHover.png")
}
#SideBarLn #SubSideBar button:hover #announce {
    content: url("../../../img/announceHover.png")
}
#SideBarLn #SubSideBar button:hover #profile {
    content: url("../../../img/profileHover.png")
}



#SideBarLn #SubSideBar button:hover {
    background-color: #160E4D;
    color: #f4f4f4;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    width: 270px;
}
#SideBarLn #SubSideBar button:hover p {
    background-color: #160E4D;
    border-radius: 20px ;
}
#SideBarLn.ActiveLink #dashboard {
    content: url("../../../img/dashboardHover.png")
}
#SideBarLn.ActiveLink #manageCourse {
    content: url("../../../img/manageCourseHover.png")
}
#SideBarLn.ActiveLink #announce {
    content: url("../../../img/announceHover.png")
}
#SideBarLn.ActiveLink #profile {
    content: url("../../../img/profileHover.png")
}


#SideBarLn #SubSideBar .ActiveLink button p {
    border-radius: 20px;
    background-color: #160E4D;
}
#SideBarLn #SubSideBar .ActiveLink button{    
    background-color: #160E4D;
    color: #f4f4f4;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    width: 270px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
li {
    /* display: box; */
    list-style-type: none;
}
#SideBarLn #SubSideBar li img {
    display: inline-block;
    align-items: center;
    vertical-align: center;
    position: absolute;
    margin-left: 15px;
}
#SideBarLn #SubSideBar p {
    margin-left: 75px;  
}
#SideBarLn #SubSideBar .insSideBarLink p {
    background-color: #f4f4f4;  ;
}
#SideBarLn #SubSideBar #dashboard {
    margin-top: 5px;
}
#SideBarLn #SubSideBar #profile {
    margin-top: 5px;
}
#SideBarLn #SubSideBar #instructor {
    margin-top: 3px;
}
#SideBarLn #SubSideBar #manageCourse {
    margin-top: 3px;
}
#SideBarLn #SubSideBar #learner {
    margin-top: 3px;
}
#SideBarLn #SubSideBar #announce {
    margin-top: 3px;
}
#SideBarLn button{
    display: flex;
    text-align: center;
    background-color: #f4f4f4;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 45px;
    font-style: normal;
    font-weight: bold;
}


#SideBarLn #SubSideBar .insSideBarLink {
    text-decoration: none;
}

#SideBarLn #SubSideBar button:hover #mycourses {
    content: url("../../../img/myCoursesHover.png")
}
#SideBarLn #SubSideBar button:hover #readtutorial {
    content: url("../../../img/readTutorialHover.png")
}
#SideBarLn #SubSideBar button:hover #readnotes {
    content: url("../../../img/readNotesHover.png")
}
#SideBarLn #SubSideBar button:hover #takequiz {
    content: url("../../../img/takeQuizHover.png")
}
/*_______Addition for Learner______*/
#SideBarLn.ActiveLink #mycourses {
    content: url("../../../img/myCoursesHover.png")
}
#SideBarLn.ActiveLink #readtutorial {
    content: url("../../../img/readTutorialHover.png")
}
#SideBarLn.ActiveLink #readnotes {
    content: url("../../../img/readNotesHover.png")
}
#SideBarLn.ActiveLink #takequiz {
    content: url("../../../img/takeQuizHover.png")
}
#SideBarLn #SubSideBar #mycourses 
{
    margin-top: 5px;
}
#SideBarLn #SubSideBar #readtutorial 
{
    margin-top: 5px;
}
#SideBarLn #SubSideBar #readnotes
{
    margin-top: 5px;
}
#SideBarLn #SubSideBar #takequiz
{
    margin-top: 5px;
}
#SideBarLn #footerLn {
    position: relative;
    margin-top: 100px;
}
