#Header {
    background-color: #f4f4f4;
    position: fixed;
    align-items: center;
    z-index: 999;
    height: 120px;
    display: flex;
    width: 100%;
}
#Header #Logo {
    background-color: #f4f4f4;
    width: 270px;
    cursor: pointer;
    position: relative;
    margin-top: 0px;
}

/* SEARCH BAR */
#SearchBar {
    margin-top: 20px;
    padding-left: 35px;
}
#Input {
    size: 32;
    width: 425px;
    height: 40px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    border-color: black;
    padding-left: 15px;
}
#searchIcon {
    position: absolute;
    margin-top: 8px;
    margin-left: -40px;
    cursor: pointer;
}
/* Arrow */
#Header #arrow-btn {
    margin-left: 50px;
    display: inline-block;
}
#Header #arrow img {
    margin-left: 20px;
}
#avatar img {
    display: inline-block;
    margin-right: 20px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    cursor: pointer;
}
#Header #arrow img {
    margin-top: 20px;
    cursor: pointer;
}
#Header #arrowClose {
    transform: rotate(180deg);
}
/* INFORMATION USER */
#information {
    position: relative;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 0px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    display: flex;
    border: 1px solid black;
    padding: 5px;
    width: 375px;
}
#information #inform {
    margin-right: 10px;
}

#information h3 {
    color: black;
    cursor: pointer;
    font-size: 20px;
}
#information p {
    font-size: 14px;
}

#information #linkName {
    text-decoration: none;
}



/* Bell Message */
#Header #bellMessage {
    display: flex;
}
#Header #bellMessage #bell {
    height: 50px;
    width: 50px;
    margin-left: 340px;
}
#Header #bellMessage #bell .bellImg {
    margin: 5px;
}
#Header #bellMessage #message {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}
#Header #bellMessage #message .messageImg {
    margin: 7.5px;
}









/* Switch */
.nav-link {
    display: none;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    height: 100%;
    color: #000;
    cursor: pointer;
}

.nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
}
.nav-menu.active .nav-link {
    display: flex;
    background-color: #f4f4f4;
}

.nav-item {
    height: 60px;
    font-size: 24px;
    white-space: 20px;
}
.nav-link:hover {
    border-bottom: 4px solid #242222;
    transition: all 0.2s ease-out;
}
.nav-menu.active {
    display:block;
    margin-top: 45px;
    background: white;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;    
}
/* Notication */
#Header .HasNoti #numOfNoti {
    width: 15px;
    height: 15px;
    background-color: red;
    font-size: 10px;
    border-radius: 7.5px;
    color: #fff;
    position: relative;
    padding-left: 3px;
    top:-45px;
    left: 30px;
    border: 1px solid #000;
}
#Header .NoNoti #numOfNoti {
    display: none;
}
#Header .HasNoti, .NoNoti  {
    width: 15px;
    height: 15px;
}
#Header #bell-btn #nav-item-noti {
    width: 200px;
    height: 600px;
}
.nav-menu-noti {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100px;
    position: absolute;
}
.nav-menu-noti .active .nav-link {
    display: flex;
    background-color: #f4f4f4;
}
.nav-item-noti {
    height: 340px;
    width: 350px;
    padding-left: 25px;
    border: 1px solid #c4c4c4;
    background-color: #fff;
}
.nav-item-noti p {
    width: 300px;
    font-size: 14px;
    height: 40px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    border-bottom: 1px solid #000;
}
.nav-item-noti #titleNoti {
    width: 300px;
    font-size: 14px;
    padding-right: 25px;
    height: 20px;
    font-weight: bold;
    border-bottom: 3px solid #000;
    margin-top: 5px;
}
.nav-menu-noti.active {
    display:block;
    background: white;
    opacity: 1;
    transition: all 0.5s ease;
    height: 340px;
    width: 350px;
    left: 730px;
    top: 80px;
}
#Header #bellBtn {
    height: 40px
}
#Header #listContentNoti {
    height: 300px;
}

/* Notification */
#Header #message-btn #nav-item-ms {
    width: 350px;
    height: 340px;
}
.nav-menu-ms {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100px;
    position: absolute;
}
.nav-item-ms {
    height: 340px;
    width: 350px;
    padding-left: 25px;
    border: 1px solid #c4c4c4;
    background-color: #fff;
}
.nav-item-ms p {
    width: 300px;
    font-size: 14px;
    height: 40px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    border-bottom: 1px solid #000;
}
.nav-item-ms #titleNoti-ms {
    display: inline-block;
    width: 300px;
    font-size: 14px;
    height: 20px;
    font-weight: bold;
    border-bottom: 3px solid #000;
    margin-top: 5px;
}
.nav-menu-ms.active {
    display:block;
    background: white;
    opacity: 1;
    transition: all 0.5s ease;
    height: 340px;
    width: 350px;
    left:790px;
    top: 80px;
}
#Header #messageBtn {
    height: 40px
}
#Header #listContentNoti-ms {
    height: 300px;
}
#Header #listContentNoti-ms p{
    width: 300px;
}





/* Guest */
#login-btn {
    transition-duration: 0.4s;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 400px;
    width: 150px;
    height: 50px;
    border-radius: 44px;
    background-color: #FC6858;
    border: none;
    cursor: pointer;
}

#login-btn :hover {
    color: #FFFFFF;
    box-shadow: 0px 30px 20px -10px rgba(0, 0, 0, 0.1);
}




#signup-btn {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: auto;
    margin-bottom: auto;
    width: 150px;
    height: 50px;    
    border-radius: 44px;
    border: 1px solid #BBBBBB;
    cursor: pointer;
} 

#signup-btn :hover {
    color: #FC6858;
    box-shadow: 0px 30px 20px -10px rgba(0, 0, 0, 0.1);
}

#auth-btn p {
    font-size: 20px;
    font-weight: 300;
}
